﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.SuppliersViewModels.SupplierFurtherActionsViewModel

@{
    ViewData["Title"] = $"Further actions - {Model.Supplier.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriodId">Home</a>
        </li>
        @if (Model.ShowOrganisationContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                <a class="govuk-breadcrumbs__link" href="/suppliers/@Model.Supplier.Id/obligationperiod/@Model.ObligationPeriodId">@Model.Supplier.Name</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Further actions</li>
    </ol>
</div>

<h1 class="govuk-heading-l">What would you like to do next?</h1>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Application Details</h2>

        <ul class="list govuk-list">
            <li><a class="govuk-list-item" href="/applications/supplier/@Model.Supplier.Id/obligationPeriod/@Model.ObligationPeriodId">View application details</a></li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Trade GHG credits</h2>

        <ul class="list govuk-list">
            <li><a class="govuk-list-item" href="/Marketplace?ObligationPeriodId=@Model.ObligationPeriodId&OrganisationId=@Model.Supplier.Id">View credits to buy or sell on the GHG marketplace</a></li>
            <li><a class="govuk-list-item" href="/suppliers/@Model.Supplier.Id/obligationPeriod/@Model.ObligationPeriodId/Marketplace/Advertise">List credits to buy or sell on the GHG marketplace</a></li>
            <li><a class="govuk-list-item" href="/transfer/@Model.Supplier.Id/obligationPeriod/@Model.ObligationPeriodId">Transfer credits to another organisation</a></li>
        </ul>

    </div>
</div>
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Account management</h2>

        <ul class="list govuk-list">
            <li><a class="govuk-list-item" asp-controller="Account" asp-action="Index" asp-route-obligationPeriodId="@Model.ObligationPeriodId">View or amend my details</a></li>
            <li><a class="govuk-list-item" href="/suppliers/@Model.Supplier.Id/manageusers?obligationPeriodId=@Model.ObligationPeriodId">Manage user access</a></li>
        </ul>
    </div>

</div>