﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.ReviewApplicationsViewModels;
@model ApproveApplicationVolumesViewModel
@{
    ViewData["Title"] = $"Review volumes - {Model.ApplicationId} - {Model.ObligationPeriod.GetDescription()}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var reviewStage = Context.Request.Query["applicationstatus"].ToString().ToLower();
    string pendingBreadcrumb;
    if (reviewStage == "submitted")
    {
        pendingBreadcrumb = "Applications awaiting stage 1 review";
    }
    else if (reviewStage == "recommendapproval")
    {
        pendingBreadcrumb = "Applications awaiting stage 2 review";
    }
    else
    {
        pendingBreadcrumb = "Pending application approvals";
    }
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@ViewBag.selectedObligationPeriodId">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item"><a href=@string.Format("/Review/Applications{0}",Model.FilterQueryString)>@pendingBreadcrumb</a></li>
        <li class="govuk-breadcrumbs__list-item"><a href=@string.Format("/Review/Applications/{0}/{1}", Model.ApplicationId, Model.FilterQueryString)>@Model.ApplicationId</a></li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Volumes</li>
    </ol>
</div>
<h1 class="govuk-heading-l">
    @Model.Supplier.Name - Application for obligation period ending <br />
<span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
</h1>

@using (Html.BeginForm("ApproveVolumes", "ReviewApplications", FormMethod.Post))
{
    @await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)

    @Html.HiddenFor(m => m.ApplicationId)
    @Html.HiddenFor(m => m.FilterQueryString)

    <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend" id="approval-status-legend">
                Please review volumes from @Model.Supplier.Name for the obligation period ending @Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")
            </legend>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <table class="govuk-table">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Supplier</td>
                                <td class="govuk-table__cell">@Model.Supplier.Name</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Application date</td>
                                <td class="govuk-table__cell">@Model.SubmittedDate.ToString("dd/MM/yyyy")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h2 class="govuk-heading-m">Volumes</h2>

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">
                            Energy/Fuel type
                        </td>
                        <td class="govuk-table__header">
                            Internal Reference
                        </td>
                        <td class="govuk-table__header govuk-table__header--numeric">
                            Amount
                        </td>
                        <td class="govuk-table__header govuk-table__header--numeric">
                            Carbon Intensity
                        </td>
                        <td class="govuk-table__header govuk-table__header--numeric">
                            Energy Density
                        </td>
                        <td class="govuk-table__header govuk-table__header--numeric">
                    </tr>
                    @if (Model.ApplicationItems != null && Model.ApplicationItems.Count > 0)
                    {
                        foreach (var item in Model.ApplicationItems)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@item.FuelType</td>
                                @if (item.FuelTypeId == Model.UerFuelTypeId)
                                {
                                    <td class="govuk-table__cell">@item.Reference</td>
                                }
                                else
                                {
                                    <td class="govuk-table__cell">N/A</td>
                                }
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    @item.AmountSupplied.Value.ToString("#,##0.00")
                                    @if (item.FuelTypeId != Model.UerFuelTypeId)
                                    {
                                        <span class="fuelUnit">@item.FuelTypeUnit</span>
                                    }
                                </td>
                                @if (item.GhgIntensity != null)
                                {
                                    <td class="govuk-table__cell govuk-table__cell--numeric">@item.GhgIntensity.Value.ToString("#,##0.00")</td>
                                }
                                else
                                {
                                    <td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
                                }
                                @if (item.EnergyDensity != null)
                                {
                                    <td class="govuk-table__cell govuk-table__cell--numeric">@item.EnergyDensity.Value.ToString("#,##0.000")</td>
                                }
                                else
                                {
                                    <td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <br />
            @Html.EditorFor(m => m.Review)

        </fieldset>
    </div>
}
