﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.ReviewApplicationsViewModels;
@model ApproveApplicationSupportingDocumentsViewModel
@{
    ViewData["Title"] = $"Review supporting documents - {Model.ApplicationId} - {Model.ObligationPeriod.GetDescription()}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var reviewStage = Context.Request.Query["applicationstatus"].ToString().ToLower();
    string pendingBreadcrumb;
    if (reviewStage == "submitted")
    {
        pendingBreadcrumb = "Applications awaiting stage 1 review";
    }
    else if (reviewStage == "recommendapproval")
    {
        pendingBreadcrumb = "Applications awaiting stage 2 review";
    }
    else
    {
        pendingBreadcrumb = "Pending application approvals";
    }
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@ViewBag.selectedObligationPeriodId">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item"><a href=@string.Format("/Review/Applications{0}",Model.FilterQueryString)>@pendingBreadcrumb</a></li>
        <li class="govuk-breadcrumbs__list-item"><a href=@string.Format("/Review/Applications/{0}/{1}", Model.ApplicationId, Model.FilterQueryString)>@Model.ApplicationId</a></li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Supporting Documents</li>
    </ol>
</div>
<h1 class="govuk-heading-l">
    @Model.Supplier.Name - Application for obligation period ending <br />
<span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
</h1>

@using (Html.BeginForm("ApproveSupportingDocuments", "ReviewApplications", FormMethod.Post))
{
    @await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)

    @Html.HiddenFor(m => m.ApplicationId)
    @Html.HiddenFor(m => m.FilterQueryString)

    <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend" id="approval-status-legend">
                Please review supporting documents from @Model.Supplier.Name for the obligation period ending @Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")
            </legend>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <table class="govuk-table">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Supplier</td>
                                <td class="govuk-table__cell">@Model.Supplier.Name</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Application date</td>
                                <td class="govuk-table__cell">@Model.SubmittedDate.ToString("dd/MM/yyyy")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h2 class="govuk-heading-m">Supplier supporting documents</h2>

            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    @foreach (var document in Model.ApplicationSupportingDocuments)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><a class="breakWord" href="/applications/@Model.ApplicationId/supportingdocuments/@document.SupportingDocumentId">@document.FileName</a></td>
                        </tr>
                    }
                </tbody>
            </table>

            <br />
            @Html.EditorFor(m => m.Review)

        </fieldset>
    </div>
}


