﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.GhgApplications.Common.Models;
@model DfT.GOS.Website.Models.ApplicationsViewModels.ApplicationApprovalViewModel
@{
    ViewData["Title"] = $"{(Model.ApplicationStatus == ApplicationStatus.RecommendApproval && Model.UserCanApproveApplication ? "Approve application" : "Review application")} - { Model.ApplicationId} - { Model.ObligationPeriod.ToString("dd/MM/yyyy")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var reviewStage = Context.Request.Query["applicationstatus"].ToString().ToLower();
    string pendingBreadcrumb;
    if (reviewStage == "submitted")
    {
        pendingBreadcrumb = "Applications awaiting stage 1 review";
    }
    else if (reviewStage == "recommendapproval")
    {
        pendingBreadcrumb = "Applications awaiting stage 2 review";
    }
    else
    {
        pendingBreadcrumb = "Pending application approvals";
    }
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@ViewBag.selectedObligationPeriodId">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href=@string.Format("/Review/Applications{0}",Model.FilterQueryString)>@pendingBreadcrumb</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">@Model.ApplicationId</li>
    </ol>
</div>
<h1 class="govuk-heading-l">
    @Model.SupplierName - Application for obligation period ending <br />
<span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.ToString("dd/MM/yyyy")</span>
</h1>

@await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)
<div class="row">
    <div class="govuk-grid-column-one-half">
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Reference</td>
                    <td class="govuk-table__cell">@Model.ApplicationId</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Requestor name</td>
                    <td class="govuk-table__cell">@Model.SubmittedBy</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="govuk-grid-column-one-half">
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Obligation period ending</td>
                    <td class="govuk-table__cell">@Model.ObligationPeriod.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Application date</td>
                    <td class="govuk-table__cell">@Model.ApplicationDate.Value.ToString("dd/MM/yyyy")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ol class="app-task-list">

    <li>
        <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Review emissions details
        </h2>
        <ul class="app-task-list__items">
            <li class="app-task-list__item">
                <a class="app-task-list__task-name" href="@string.Format("/Review/Applications/{0}/Volumes{1}", @Model.ApplicationId, ViewBag.Query)">Volumes from the supplier</a>
                @if (Model.VolumesReviewStatus != null && Model.VolumesReviewStatus.ReviewStatusId > 1)
                {
                    if (Model.VolumesReviewStatus.Name == "Approved")
                    {
                        <strong class="govuk-tag app-task-list__task-completed">
                            @Model.VolumesReviewStatus.Name
                        </strong>
                    }
                    else
                    {
                        <strong class="govuk-tag app-task-list__task-rejected">
                            @Model.VolumesReviewStatus.Name
                        </strong>
                    }

                }
            </li>
            <li class="app-task-list__item">
                <a href="@string.Format("/Review/Applications/{0}/SupportingDocuments{1}",@Model.ApplicationId, ViewBag.Query)">Supporting documents from the supplier</a>
                @if (Model.DocumentsReviewStatus != null && Model.DocumentsReviewStatus.ReviewStatusId > 1)
                {
                    if (Model.DocumentsReviewStatus.Name == "Approved")
                    {
                        <strong class="govuk-tag app-task-list__task-completed">
                            @Model.DocumentsReviewStatus.Name
                        </strong>
                    }
                    else
                    {
                        <strong class="govuk-tag app-task-list__task-rejected">
                            @Model.DocumentsReviewStatus.Name
                        </strong>
                    }
                }
            </li>
        </ul>
    </li>

    <li>
        <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>
            GHG credits / obligation
        </h2>
        <ul class="app-task-list__items">
            <li class="app-task-list__item">
                <a href="@string.Format("/Review/Applications/{0}/Calculation{1}",@Model.ApplicationId, ViewBag.Query)">Review calculation</a>
                @if (Model.CalculationReviewStatus != null && Model.CalculationReviewStatus.ReviewStatusId > 1)
                {
                    if (Model.CalculationReviewStatus.Name == "Approved")
                    {
                        <strong class="govuk-tag app-task-list__task-completed">
                            @Model.CalculationReviewStatus.Name
                        </strong>
                    }
                    else
                    {
                        <strong class="govuk-tag app-task-list__task-rejected">
                            @Model.CalculationReviewStatus.Name
                        </strong>
                    }
                }
            </li>
        </ul>
    </li>
    <li>
        <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span>
            RTFO Decision
        </h2>

        @if (Model.IsReviewComplete && Model.AllLineItemsApproved && Model.ApplicationStatus == ApplicationStatus.Submitted)
        {
            <div class="govuk-inset-text">
                <p class="govuk-body">
                    <span>
                        The individual application sections have been approved, please confirm you wish to approve the application.
                        Once you have approved the application, another RTFO administrator will be able to mark the application ready for credit issue.
                    </span>
                </p>
            </div>
        }
        else if (Model.ApplicationStatus == ApplicationStatus.RecommendApproval)
        {
            <p class="govuk-body">
                <span>
                    The application details have been recommended for approval by @Model.RecommendedBy on @Model.RecommendedDate.Value.ToString("dd/MM/yyyy")
                </span>
                <strong class="govuk-tag app-task-list__task-completed">
                    @Model.VolumesReviewStatus.Name
                </strong>
            </p>
        }
        else if (Model.ApplicationStatus == ApplicationStatus.Approved)
        {
            <p class="govuk-body">
                <span>
                    The application details have been approved.
                </span>
                <strong class="govuk-tag app-task-list__task-completed">
                    @Model.VolumesReviewStatus.Name
                </strong>
            </p>
        }
        else if (Model.IsReviewComplete && !Model.AllLineItemsApproved)
        {
            <div class="govuk-inset-text">
                <p class="govuk-body">
                    <span>The application will be rejected</span>
                </p>
            </div>
        }
        else
        {
            <div class="govuk-inset-text">
                <p class="govuk-body">
                    <span>Please review each section before continuing.</span>
                </p>
            </div>
        }

        @if ((Model.IsReviewComplete || Model.HasRejectedItem) && Model.ApplicationStatus == ApplicationStatus.Submitted)
        {

            @using (Html.BeginForm("RecommendForApproval", "ReviewApplications", new { applicationId = Model.ApplicationId }, FormMethod.Post))
            {
                @Html.HiddenFor(m => m.FilterQueryString)
                <button type="submit" class="govuk-button">
                    @Model.SubmitButtonText
                </button>
            }

        }
    </li>
    @if (Model.ApplicationStatus == ApplicationStatus.RecommendApproval)
    {
        <li>

            @if (Model.UserCanApproveApplication)
            {

                @using (Html.BeginForm("Approve", "ReviewApplications", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.FilterQueryString)
                    <div class="govuk-form-group">

                        <h2 class="app-task-list__section">
                            <span class="app-task-list__section-number">4. </span>
                            Credits Issue
                        </h2>

                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend" id="approve-applications-instruction">
                                Please confirm whether you wish to approve this application and mark it as ready for credits issue.
                            </legend>


                            <span asp-validation-for="ApproveApplication" class="govuk-error-message"></span>
                            <div class="govuk-radios" data-module="radios">
                                <div class="govuk-radios__item">
                                    @Html.RadioButtonFor(m => m.ApproveApplication, true, new { @class = "govuk-radios__input", @id = "approval-status-approve", @name = "approve-status", @aria_labelledby = "approve-applications-instruction approval-status-approve-label" })

                                    <label id="approval-status-approve-label" class="govuk-label govuk-radios__label" for="approval-status-approve">
                                        Approve recommendation
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    @Html.RadioButtonFor(m => m.ApproveApplication, false, new { @class = "govuk-radios__input", @id = "approval-status-rejected", @name = "approve-status", @aria_labelledby = "approve-applications-instruction approval-status-rejected-label" })

                                    <label id="approval-status-rejected-label" class="govuk-label govuk-radios__label" for="approval-status-rejected">
                                        Reject recommendation
                                    </label>
                                </div>
                            </div>

                            <br />

                            <button type="submit" class="govuk-button">
                                Continue
                            </button>

                        </fieldset>
                    </div>
                }
            }
            else
            {
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">4. </span>
                    Credits Issue
                </h2>
                <div class="govuk-inset-text">
                    <p class="govuk-body">
                        The application is now ready for another administrator to approve for credits issue.
                    </p>
                </div>
            }

        </li>
    }
    else if (Model.ApplicationStatus == ApplicationStatus.Approved)
    {
        <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span>
            Credits Issue
        </h2>
        <p class="govuk-body">
            <span>The application is now ready for an administrator to issue credits.</span>
            <strong class="govuk-tag app-task-list__task-completed">
                @Model.VolumesReviewStatus.Name
            </strong>
        </p>
    }
    else
    {
        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">4. </span>
                Credits Issue
            </h2>
            <p class="govuk-body">
                The application must be recommended for approval before approving for credits issue.
            </p>
        </li>
    }
</ol>
