﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.ApplicationsViewModels;
@model PagedPendingApplicationViewModel
@{
    ViewData["Title"] = Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var reviewStage = Context.Request.Query["applicationstatus"].ToString().ToLower();
    var queryString = Context.Request.QueryString.Value;
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@ViewBag.selectedObligationPeriodId">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">@Model.PageTitle</li>
    </ol>
</div>
<h1 class="govuk-heading-l">@Model.PageTitle</h1>
<div class="row">
    <div class="col-md-4">
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">
                        Application date
                    </td>
                    <td class="govuk-table__header">
                        Application reference
                    </td>
                    <td class="govuk-table__header">
                        Obligation period
                    </td>
                    <td class="govuk-table__header">
                        Supplier
                    </td>
                    <td class="govuk-table__header govuk-table__header--numeric">
                        Credits applied for
                    </td>
                    <td class="govuk-table__header">
                        Application Status
                    </td>
                    <td class="govuk-table__header">
                        Action
                    </td>
                </tr>
                @foreach (var item in Model.Result.Result)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@item.SubmittedDate.ToString("dd/MM/yyyy")</td>
                        <td class="govuk-table__cell">@item.ApplicationId</td>
                        <td class="govuk-table__cell">@item.ObligationPeriodEndDate.Year</td>
                        <td class="govuk-table__cell">@item.Supplier </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@item.CreditsApplierFor.ToString("#,##0.00") </td>
                        <td class="govuk-table__cell">@item.ReviewStatus</td>
                        <td class="govuk-table__cell"><a href="/Review/Applications/@item.ApplicationId@queryString">@item.ReviewAction</a> </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
@await Html.PartialAsync("_PaginationPartial", Model.Result)