﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.GhgApplications.Common.Models;
@model DfT.GOS.Website.Models.ApplicationsViewModels.ApplicationReviewResultViewModel
@{
    ViewData["Title"] = "Review status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="ReviewApplications" asp-action="Index">Pending application approvals</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">@Model.ApplicationId</li>
    </ol>
</div>
@if (Model.Status == ApplicationStatus.RecommendApproval)
{
    <div class="govuk-panel govuk-panel--confirmation">
        <h2 class="govuk-panel__title">
            Application recommended
        </h2>
        <div class="govuk-panel__body">
            The application for @Model.Supplier for the
            obligation period ending @Model.ObligationPeriod
            has been recommended for issuance of credit
            <br />
        </div>
    </div>
}
else if (Model.Status == ApplicationStatus.Rejected)
{
    <div class="govuk-panel govuk-panel--confirmation app-rejected">
        <h2 class="govuk-panel__title">
            Application rejected
        </h2>
        <div class="govuk-panel__body">
            The application for @Model.Supplier for the obligation period
            ending @Model.ObligationPeriod.ToString("dd/MM/yyyy") has been rejected and returned to the supplier
            <br />
        </div>
    </div>
    @Html.ActionLink("Continue", "Index", "ReviewApplications", null, new { @class = "govuk-govuk-link" })

}

