﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.ApplicationsViewModels;

@model DfT.GOS.Website.Models.ApplicationsViewModels.ApplicationRevocationConfirmationViewModel
@{
    ViewData["Title"] = $"Revoke application successful - {Model.ApplicationId} - {Model.ObligationPeriod.GetDescription()} - {Model.Supplier.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" href="/Suppliers/@Model.Supplier.Id/obligationperiod/@Model.ObligationPeriod.Id">@Model.Supplier.Name</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" href="/applications/supplier/@Model.Supplier.Id/obligationPeriod/@Model.ObligationPeriod.Id">Applications</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" href="/applications/@Model.ApplicationId/details">@Model.ApplicationId</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Confirmation</li>
    </ol>
</div>

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        Application Revocation Confirmation
    </h1>
    <div class="govuk-panel__body">
        Application @Model.ApplicationId has been revoked.
    </div>
</div>
<div class="row">
    <p class="govuk-body">
        <a href="/applications/@Model.ApplicationId/details" class="govuk-link">Continue</a>
    </p>
</div>
