﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.ApplicationsViewModels;
@model SupplierApplicationDetailViewModel
@{
    ViewData["Title"] = $"Application details - {Model.ApplicationId} - {Model.ObligationPeriod.GetDescription()} - {Model.Supplier.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        @if (Model.ShowOrganisationContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                <a class="govuk-breadcrumbs__link" href="/suppliers/@Model.Supplier.Id/obligationperiod/@Model.ObligationPeriod.Id">@Model.Supplier.Name</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" href="/applications/supplier/@Model.Supplier.Id/obligationPeriod/@Model.ObligationPeriod.Id">Applications</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">@Model.ApplicationId</li>
    </ol>
</div>
<h1 class="govuk-heading-l">
    Application for the obligation period ending <br />
    <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
</h1>

<div class="row">
    <div class="col-md-4">
        <h2 class="govuk-heading-m">GHG reporting period</h2>
        <div class="govuk-grid-column-one-half">
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Reference</td>
                        <td class="govuk-table__cell">@Model.ApplicationId</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Company name</td>
                        <td class="govuk-table__cell">@Model.Supplier.Name</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="govuk-grid-column-one-half">
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Obligation period ending</td>
                        <td class="govuk-table__cell">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Date</td>
                        <td class="govuk-table__cell">@Model.ApplicationDate.ToString("dd/MM/yyyy")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="govuk-heading-m">Provisional calculation</h2>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">
                        Energy/Fuel type
                    </td>
                    <td class="govuk-table__header">
                        Internal Reference
                    </td>
                    <td class="govuk-table__header govuk-table__header--numeric">
                        Amount
                    </td>
                    <td class="govuk-table__header govuk-table__header--numeric">
                        Carbon Intensity
                    </td>
                    <td class="govuk-table__header govuk-table__header--numeric">
                        Energy Density
                    </td>
                    <td class="govuk-table__header govuk-table__header--numeric">
                        Credits (KgCO<sub>2</sub>e)
                    </td>
                    <td class="govuk-table__header govuk-table__header--numeric">
                        Obligation (KgCO<sub>2</sub>e)
                    </td>
                </tr>
                @if (Model.ApplicationItems != null && Model.ApplicationItems.Count > 0)
                {
                    foreach (var item in Model.ApplicationItems)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@item.FuelType</td>
                            @if (item.FuelTypeId == Model.UerFuelTypeId)
                            {
                                <td class="govuk-table__cell">@item.Reference</td>
                            }
                            else
                            {
                                <td class="govuk-table__cell">N/A</td>
                            }
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                @item.AmountSupplied.Value.ToString("#,##0.00")
                                @if (item.FuelTypeId != Model.UerFuelTypeId)
                                {
                                    <span class="fuelUnit">@item.FuelTypeUnit</span>
                                }
                            </td>
                            @if (item.GhgIntensity != null)
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric">@item.GhgIntensity.Value.ToString("#,##0.00")</td>
                            }
                            else
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
                            }
                            @if (item.EnergyDensity != null)
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric">@item.EnergyDensity.Value.ToString("#,##0.000")</td>
                            }
                            else
                            {
                                <td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
                            }
                            <td class="govuk-table__cell govuk-table__cell--numeric">@item.Credits.ToString("#,##0.00")</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">@item.Obligation.ToString("#,##0.00")</td>
                        </tr>
                    }


                }

            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <h2 class="govuk-heading-m">Documents</h2>
    <table class="govuk-table">
        <tbody class="govuk-table__body">
            @foreach (var document in Model.ApplicationSupportingDocuments)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a class="breakWord" href="/applications/@Model.ApplicationId/supportingdocuments/@document.SupportingDocumentId">@document.FileName</a></td>
                </tr>
            }
            @if (Model.ApplicationSupportingDocuments.Count == 0)
            {
                <tr>
                    <td>No documents to list</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model.IsAdministrator && Model.IsStatusCreditsIssued)
{
    <div class="row">
        <h2 class="govuk-heading-m">Actions</h2>
        <p class="govuk-body">
            @if (Model.LatestDateForRevocation == null || !Model.IsPastRevocationDate)
            {
                <a href="/applications/@Model.ApplicationId/revoke">Revoke Application</a>
            }
            @if (Model.IsPastRevocationDate)
            {
                @:This application can no longer be revoked as it is past the latest date for revocation. No further actions are available.
            }
        </p>
    </div>
}
@if (Model.IsStatusRevoked)
{
    <div class="row">
        <h2 class="govuk-heading-m">Actions</h2>
        <p class="govuk-body">
            This application has been revoked. No further actions are available.
        </p>
        <p class="govuk-body">
            Revoke reason:
        </p>
        <p class="govuk-body govuk-details__text">
            @if (string.IsNullOrEmpty(Model.RevocationReason))
            {
                @:No reason was provided.
            }
            else
            {
                @Model.RevocationReason
            }
        </p>
    </div>
}
@if (!string.IsNullOrEmpty(Model.VolumesRejectionReason) || !string.IsNullOrEmpty(Model.DocumentsRejectionReason) || !string.IsNullOrEmpty(Model.CalculationRejectionReason))
{
    <div class="row">
        <h2 class="govuk-heading-m">Rejection Reason</h2>
        @if (!string.IsNullOrEmpty(Model.VolumesRejectionReason))
        {
            <p class="govuk-body">
                Volume rejection reason:
            </p>
            <p class="govuk-body govuk-details__text">
                @Model.VolumesRejectionReason
            </p>
        }
        @if (!string.IsNullOrEmpty(Model.DocumentsRejectionReason))
        {
            <p class="govuk-body">
                Document rejection reason:
            </p>
            <p class="govuk-body govuk-details__text">
                @Model.DocumentsRejectionReason
            </p>
        }
        @if (!string.IsNullOrEmpty(Model.CalculationRejectionReason))
        {
            <p class="govuk-body">
                Calculation rejection reason:
            </p>
            <p class="govuk-body govuk-details__text">
                @Model.CalculationRejectionReason
            </p>
        }
    </div>
}
<br />
<div class="row">
    <div class="col-md-4">
        <a class="govuk-button" role="button" href="/applications/supplier/@Model.Supplier.Id/obligationPeriod/@Model.ObligationPeriod.Id">Back</a>
    </div>
</div>

