﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.ApplicationsViewModels;

@model DfT.GOS.Website.Models.ApplicationsViewModels.ApplicationRevocationViewModel
@{
    ViewData["Title"] = $"Revoke application - {Model.ApplicationId} - {Model.ObligationPeriod.GetDescription()} - {Model.Supplier.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" href="/Suppliers/@Model.Supplier.Id/obligationperiod/@Model.ObligationPeriod.Id">@Model.Supplier.Name</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" href="/applications/supplier/@Model.Supplier.Id/obligationPeriod/@Model.ObligationPeriod.Id">Applications</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">@Model.ApplicationId</li>
    </ol>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h1 class="govuk-heading-l">Application for the obligation period ending <br />
                <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
            </h1>
            <br />
            <h2 class="govuk-heading-m">Revoke Application</h2>
            <p class="govuk-body">Enter the reason you are revoking application @Model.ApplicationId. On selecting 'Confirm' you will revoke @Model.TotalCredits credits.</p>
            <br />
            <div class="govuk-form-group">
                <label class="govuk-label" for="revocation-reason">
                    Revoke reason
                </label>
                @Html.TextAreaFor(m => m.RevocationReason, 5, 1, new { @class = "govuk-textarea", @id = "revocation-reason", @name = "revocation-reason" })
            </div>
            <br />
            <a class="govuk-button" role="button" href="/applications/@Model.ApplicationId/details">Cancel</a>
            <button type="submit" class="govuk-button">
                Confirm
            </button>
        </form>
    </div>
</div>
