﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.ApplicationsViewModels;

@model DfT.GOS.Website.Models.ApplicationsViewModels.ApplicationDetailsViewModel
@{
    ViewData["Title"] = $"New application - {Model.ObligationPeriod.GetDescription()} - {Model.Supplier.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        @if (Model.ShowOrganisationContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" href="/suppliers/@Model.Supplier.Id/obligationperiod/@Model.ObligationPeriod.Id">@Model.Supplier.Name</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Application details</li>
    </ol>
</div>

<h1 class="govuk-heading-l">Application for the obligation period ending <br />
    <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
</h1>

@await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)

@using (Html.BeginForm("New", "Applications", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ElectricityFuelTypeId)
    @Html.HiddenFor(m => m.UerFuelTypeId)
    <div class="govuk-form-group">
        <h2 class="govuk-heading-m">Application details</h2>
        <fieldset class="govuk-fieldset" aria-describedby="energy-type-legend">

            <legend class="govuk-fieldset__legend" id="energy-type-legend">
                Enter the energy type you wish to report for the obligation period ending @Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy"). <span class="govuk-hint">You will be able to enter details for further energy types in the next step, alternatively you can submit multiple applications per obligation period.</span>
            </legend>

            <div class="govuk-radios" data-module="radios">
                <div class="govuk-radios__item">
                    @Html.RadioButtonFor(m => m.FuelCategory, ApplicationDetailsViewModel.FuelCategories.Electricity, new { @class = "govuk-radios__input", @id = "fuel-category-electricity", @name = "fuel-category", @data_aria_controls = "conditional-fuel-category-electricity", @aria_labelledby = "energy-type-legend fuel-category-electricity-label" })
                    <label class="govuk-label govuk-radios__label" for="fuel-category-electricity" id="fuel-category-electricity-label">
                        Electricity
                    </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-fuel-category-electricity">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="electricity-amount-supplied">Amount Supplied</label>
                        <span asp-validation-for="ElectricityAmountSupplied" class="govuk-error-message"></span>
                        @Html.TextBoxFor(m => m.ElectricityAmountSupplied, new { @class = "govuk-input govuk-!-width-one-third", @id = "electricity-amount-supplied", @name = "electricity-amount-supplied" }) <span class="fuelUnit">MJ</span>
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="electricity-ghg-intensity">GHG intensity</label>
                        <span class="govuk-hint">Please report your GHG Intensity for this application. If applicable report the value after the powertrain efficiency factor of 0.4 has been applied (in line with RTFO Guidance)</span>
                        <span asp-validation-for="ElectricityGhgIntensity" class="govuk-error-message"></span>
                        @Html.TextBoxFor(m => m.ElectricityGhgIntensity, new { @class = "govuk-input govuk-!-width-one-third", @id = "electricity-ghg-intensity", @name = "electricity-ghg-intensity" }) <span class="fuelUnit">gCO<sub>2</sub> / MJ</span>

                    </div>
                </div>

                <div class="govuk-radios__item">
                    @Html.RadioButtonFor(m => m.FuelCategory, ApplicationDetailsViewModel.FuelCategories.FossilGas, new { @class = "govuk-radios__input", @id = "fuel-category-fossil-gas", @name = "fuel-category", @data_aria_controls = "conditional-fuel-category-fossil-gas", @aria_labelledby = "energy-type-legend fuel-category-fossil-gas-label" })
                    <label class="govuk-label govuk-radios__label" for="fuel-category-fossil-gas" id="fuel-category-fossil-gas-label">
                        Fossil Gas
                    </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-fuel-category-fossil-gas">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="fossil-gas-type">Type</label>
                        <span asp-validation-for="FossilGasTypeId" class="govuk-error-message"></span>
                        @Html.DropDownListFor(m => m.FossilGasTypeId, new SelectList(Model.FossilGasFuelTypes, "FuelTypeId", "Name"), "-- Select --", new { @class = "govuk-select govuk-!-width-two-thirds", @id = "fossil-gas-type", @name = "fossil-gas-type" })
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="fossil-gas-volume">Volume</label>
                        <span asp-validation-for="FossilGasVolume" class="govuk-error-message"></span>
                        @Html.TextBoxFor(m => m.FossilGasVolume, new { @class = "govuk-input govuk-!-width-one-third", @id = "fossil-gas-volume", @name = "fossil-gas-volume" }) <span class="fuelUnit">Kilograms</span>
                    </div>
                </div>

                <div class="govuk-radios__item">
                    @Html.RadioButtonFor(m => m.FuelCategory, ApplicationDetailsViewModel.FuelCategories.UER, new { @class = "govuk-radios__input", @id = "fuel-category-uer", @name = "fuel-category", @data_aria_controls = "conditional-fuel-category-uer", @aria_labelledby = "energy-type-legend fuel-category-uer-label" })
                    <label class="govuk-label govuk-radios__label" for="fuel-category-uer" id="fuel-category-uer-label">
                        Upstream Emission Reductions (UERs)
                    </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-fuel-category-uer">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="uer-reference">Internal Reference</label>
                        <span asp-validation-for="UerReference" class="govuk-error-message"></span>
                        @Html.TextBoxFor(m => m.UerReference, new { @class = "govuk-input govuk-!-width-one-third", @id = "uer-reference", @name = "uer-reference" })
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="uer-amount-supplied">Amount</label>
                        <span asp-validation-for="UerAmount" class="govuk-error-message"></span>
                        @Html.TextBoxFor(m => m.UerAmount, new { @class = "govuk-input govuk-!-width-one-third", @id = "uer-amount-supplied", @name = "uer-amount-supplied" }) <span class="fuelUnit">KgCO<sub>2</sub>e</span>

                    </div>
                </div>
            </div>
            <br />
            <button type="submit" class="govuk-button">
                Continue
            </button>

        </fieldset>
    </div>

}

@section Scripts
{
    <script type="text/javascript" src="~/js/Views/Applications/details.js"></script>
}