﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.ApplicationsViewModels;

@model DfT.GOS.Website.Models.ApplicationsViewModels.SubmittedApplicationViewModel

@{
    ViewData["Title"] = $"Application submitted - {Model.ObligationPeriod.GetDescription()} - {Model.Supplier.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        @if (Model.ShowOrganisationContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" href="/Suppliers/@Model.Supplier.Id/obligationperiod/@Model.ObligationPeriod.Id">@Model.Supplier.Name</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Application details</li>
    </ol>
</div>
<div class="govuk-panel govuk-panel--confirmation">
    <h2 class="govuk-panel__title">
        Application submission complete
    </h2>
    <div class="govuk-panel__body">
        Your reference number is @Model.ApplicationId
        <br />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2 class="govuk-heading-m">GHG reporting period</h2>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Company name</td>
                    <td class="govuk-table__cell">@Model.Supplier.Name</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Obligation period ending</td>
                    <td class="govuk-table__cell">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="govuk-heading-m">Volumes</h2>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">
                        Energy/Fuel type
                    </td>
                    <td class="govuk-table__header">
                        Internal Reference
                    </td>
                    <td class="govuk-table__header govuk-table__header--numeric">
                        Amount
                    </td>
                    <td class="govuk-table__header govuk-table__header--numeric">
                        Carbon Intensity
                    </td>
                    <td class="govuk-table__header govuk-table__header--numeric">
                        Energy Density
                    </td>
                    <td class="govuk-table__header govuk-table__header--numeric">
                        Credits (KgCO<sub>2</sub>e)
                    </td>
                    <td class="govuk-table__header govuk-table__header--numeric">
                        Obligation (KgCO<sub>2</sub>e)
                    </td>
                </tr>
                @if (Model.ApplicationItems != null && Model.ApplicationItems.Count > 0)
                {
                    foreach (var item in Model.ApplicationItems)
                    {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@item.FuelType</td>
                    @if (item.FuelTypeId == Model.UerFuelTypeId)
                    {
                        <td class="govuk-table__cell">@item.Reference</td>
                    }
                    else
                    {
                        <td class="govuk-table__cell">N/A</td>
                    }
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        @item.AmountSupplied.Value.ToString("#,##0.00")
                        @if (item.FuelTypeId != Model.UerFuelTypeId)
                        {
                            <span class="fuelUnit">@item.FuelTypeUnit</span>
                        }
                    </td>
                    @if (item.GhgIntensity != null)
                    {
                        <td class="govuk-table__cell govuk-table__cell--numeric">@item.GhgIntensity.Value.ToString("#,##0.00")</td>
                    }
                    else
                    {
                        <td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
                    }
                    @if (item.EnergyDensity != null)
                    {
                        <td class="govuk-table__cell govuk-table__cell--numeric">@item.EnergyDensity.Value.ToString("#,##0.000")</td>
                    }
                    else
                    {
                        <td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
                    }
                    <td class="govuk-table__cell govuk-table__cell--numeric">@item.Credits.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@item.Obligation.ToString("#,##0.00")</td>
                </tr>
                    }


                }

            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
            Your submission will be automatically sent to the RTFO Unit for Approval and Issue of Credits.
        </p>
        <p class="govuk-body">
            @if (Model.ShowOrganisationContext)
            {
                <a href="/Suppliers/@Model.Supplier.Id/obligationperiod/@Model.ObligationPeriod.Id" class="govuk-link">Continue</a>
            }
            else
            {
                <a href="/Home?obligationPeriodId=@Model.ObligationPeriod.Id" class="govuk-link">Continue</a>
            }
        </p>
    </div>
</div>
