﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.ApplicationsViewModels;

@model DfT.GOS.Website.Models.ApplicationsViewModels.SubmitApplicationViewModel

@{
    ViewData["Title"] = $"Submit application - {Model.ObligationPeriod.GetDescription()} - {Model.Supplier.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        @if (Model.ShowOrganisationContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                <a class="govuk-breadcrumbs__link" href="/Suppliers/@Model.Supplier.Id/obligationperiod/@Model.ObligationPeriod.Id">@Model.Supplier.Name</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Application details</li>
    </ol>
</div>
@await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)
@if (ViewData.ModelState.IsValid && !Model.IsLateApplication)
{
    <h1 class="govuk-heading-l">
        Application for the obligation period ending<br />
        <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
    </h1>

    @using (Html.BeginForm("Submit", "Applications", new { applicationId = Model.ApplicationId }, FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-4">
                <label class="govuk-label" for="email">
                    Please confirm the details of your application for the obligation period ending @Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy") and read the declaration below.
                </label>
                <br />

                <h2 class="govuk-heading-m">GHG reporting period</h2>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Company name</td>
                            <td class="govuk-table__cell">@Model.Supplier.Name</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Obligation period ending</td>
                            <td class="govuk-table__cell">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2 class="govuk-heading-m">Provisional calculation</h2>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header">
                                Energy/Fuel type
                            </td>
                            <td class="govuk-table__header">
                                Internal Reference
                            </td>
                            <td class="govuk-table__header govuk-table__header--numeric">
                                Amount
                            </td>
                            <td class="govuk-table__header govuk-table__header--numeric">
                                Carbon Intensity
                            </td>
                            <td class="govuk-table__header govuk-table__header--numeric">
                                Energy Density
                            </td>
                            <td class="govuk-table__header govuk-table__header--numeric">
                                Credits (KgCO<sub>2</sub>e)
                            </td>
                            <td class="govuk-table__header govuk-table__header--numeric">
                                Obligation (KgCO<sub>2</sub>e)
                            </td>
                        </tr>
                        @if (Model.ApplicationItems != null && Model.ApplicationItems.Count > 0)
                        {
                            foreach (var item in Model.ApplicationItems)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@item.FuelType</td>
                                    @if (item.FuelTypeId == Model.UerFuelTypeId)
                                    {
                                        <td class="govuk-table__cell">@item.Reference</td>
                                    }
                                    else
                                    {
                                        <td class="govuk-table__cell">N/A</td>
                                    }
                                    <td class="govuk-table__cell govuk-table__cell--numeric">
                                        @item.AmountSupplied.Value.ToString("#,##0.00")
                                        @if (item.FuelTypeId != Model.UerFuelTypeId)
                                        {
                                            <span class="fuelUnit">@item.FuelTypeUnit</span>
                                        }
                                    </td>
                                    @if (item.GhgIntensity != null)
                                    {
                                        <td class="govuk-table__cell govuk-table__cell--numeric">@item.GhgIntensity.Value.ToString("#,##0.00")</td>
                                    }
                                    else
                                    {
                                        <td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
                                    }
                                    @if (item.EnergyDensity != null)
                                    {
                                        <td class="govuk-table__cell govuk-table__cell--numeric">@item.EnergyDensity.Value.ToString("#,##0.000")</td>
                                    }
                                    else
                                    {
                                        <td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
                                    }
                                    <td class="govuk-table__cell govuk-table__cell--numeric">@item.Credits.ToString("#,##0.00")</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric">@item.Obligation.ToString("#,##0.00")</td>
                                </tr>
                            }


                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2 class="govuk-heading-m">Declaration</h2>
                <div class="govuk-inset-text">
                    <p class="govuk-body">
                        I have been nominated by @Model.Supplier.Name and declare that:<br /><br />
                        <ol type="1">
                            <li>&emsp;The information submitted in the application and, if different, the information referred to in regulation 16B(3)(b) of the Motor Fuel (Road Vehicle and Mobile Machinery) Greenhouse Gas Emissions Reporting Regulations 2012, is accurate;<br /><br /></li>
                            <li>
                                &emsp;The emissions savings claimed have not already been, and will not be, counted under or in relation to:
                                <ol type="i">
                                    <li>&emsp;Article 7a of the directive in any other state;</li>
                                    <li>&emsp;the Kyoto Protocol to the United Nations Framework Convention on Climate Change, signed at Kyoto on 11th December 1997; or</li>
                                    <li>&emsp;a GHG reduction obligation of another supplier.</li>
                                </ol>
                            </li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
        <button type="submit" class="govuk-button">
            Submit application
        </button>
    }
}
@if (Model.IsLateApplication)
{
    @using (Html.BeginForm("Submit", "Applications", new { applicationId = Model.ApplicationId }, FormMethod.Post))
    {
        @Html.HiddenFor(m => m.IsLateApplication)
        @Html.HiddenFor(m => m.ApplicationId)
        <div class="row">
            <div class="col-md-4">
                <h1 class="govuk-panel__title">
                    @ViewData["Title"]
                </h1>
                <div class="govuk-label">
                    The deadline for applications in this obligation period has passed. If you still wish to submit your application, then please contact the RTFO team on @Model.RtfoSupportEmailAddress
                    @if (!string.IsNullOrWhiteSpace(Model.RtfoSupportTelephoneNumber))
                    {
                        @: or @Model.RtfoSupportTelephoneNumber
                    }
                    to seek approval for a late application.
                    <br />
                    <br />
                    Has the RTFO team advised you to continue with your submission?
                </div>
                <br />
                <br />
                <a class="govuk-button" role="button" href="/Suppliers/@Model.Supplier.Id/obligationperiod/@Model.ObligationPeriod.Id">No</a>
                <button type="submit" class="govuk-button">Yes</button>
                <br />
                <span class="govuk-hint">If the RTFO team have advised you to proceed and submit your application, please select 'Yes', if not please select 'No'.</span>
            </div>
        </div>
    }
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}