﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.ApplicationsViewModels;

@model DfT.GOS.Website.Models.ApplicationsViewModels.ApplicationSupportingDocumentRemoveViewModel
@{
    ViewData["Title"] = $"Confirm document removal - {Model.ObligationPeriod.GetDescription()} - {Model.Supplier.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        @if (Model.ShowOrganisationContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" href="/Suppliers/@Model.Supplier.Id/obligationperiod/@Model.ObligationPeriod.Id">@Model.Supplier.Name</a></li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Application details</li>
    </ol>
</div>
@await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)
@if (ViewData.ModelState.IsValid)
{
    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">

                <h2 class="govuk-panel__title">
                    Confirm Document Removal
                </h2>

                @{ if (Model.FileName != null)
                    {
                        <div class="govuk-label breakWord">
                            Do you wish to remove file "@Model.FileName" from this application.
                        </div>
                    }
                }

                <br />
                <br />

                <a class="govuk-button" role="button" href="/applications/@Model.ApplicationId/supportingdocuments">No</a>
                <button type="submit" class="govuk-button">
                    Yes
                </button>
            </form>
        </div>
    </div>
}

