﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.ApplicationsViewModels;

@model DfT.GOS.Website.Models.ApplicationsViewModels.ApplicationSupportingDocumentsViewModel
@{
    ViewData["Title"] = $"Upload supporting documents - {Model.ObligationPeriod.GetDescription()} - {Model.Supplier.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        @if (Model.ShowOrganisationContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                <a class="govuk-breadcrumbs__link" href="/Suppliers/@Model.Supplier.Id/obligationperiod/@Model.ObligationPeriod.Id">@Model.Supplier.Name</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Application details</li>
    </ol>
</div>

@if (Model != null)
{
    <h1 class="govuk-heading-l">
        Application for the obligation period ending <br />
        <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
    </h1>
    <form id="document-form" method="post" asp-action="SupportingDocuments" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">

                @await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="account hint" role="group">
                        <h2 class="govuk-heading-m">Upload supporting documentation</h2>
                        <label class="govuk-label" for="email">
                            Upload any supporting documentation for your application for the obligation period ending @Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")
                        </label>
                        <br />
                        <div class="file-upload-list">
                            <label class="govuk-label" for="file-upload-1">
                                Browse for files
                            </label>
                            <span class="govuk-caption-m govuk-!-font-size-16 govuk-\!-padding-botom-8">
                                When choosing multiple files please ensure the total size is less than 30 megabytes. You can repeat this step multiple times if needed.
                            </span>
                            <input class="govuk-file-upload" id="file-upload-1" name="fileDetails" type="file" multiple="multiple" accept=@Model.AcceptedFileTypes />
                            <noscript> <button id="upload-file" class="govuk-button" role="button" type="submit">Upload</button></noscript>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <table id="files-to-upload" class="govuk-table"></table>
                @if (Model.ApplicationSupportingDocuments.Count > 0)
                {
                    <div>
                        <table id="files-to-upload1" class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th class="govuk-table__header">File name</th>
                                    <th class="govuk-table__header">Status</th>
                                    <th class="govuk-table__header"></th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @for (int i = 0; i < Model.ApplicationSupportingDocuments.Count; i++)
                                {
                                    var document = Model.ApplicationSupportingDocuments[i];
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <a class="breakWord" href="/applications/@Model.ApplicationId/supportingdocuments/@document.SupportingDocumentId">@document.FileName</a>

                                        </td>
                                        <td class="govuk-table__cell">uploaded</td>
                                        <td class="govuk-table__cell">
                                            <a href="/applications/@Model.ApplicationId/supportingdocuments/@document.SupportingDocumentId/remove">remove</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>

        <button id="upload-button" class="govuk-button" role="button" type="submit">Continue</button>
    </form>

}
else
{
    @await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)

}
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" src="~/js/Views/Applications/supportingDocuments.js"></script>
}