﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Web.ExtensionMethods.Enum
@model DfT.GOS.Website.Models.ApplicationsViewModels.PagedSupplierApplicationViewModel

@{
    ViewData["Title"] = $"Applications - {Model.ObligationPeriod.GetDescription()} - {Model.Supplier.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        @if (Model.ShowOrganisationContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                <a class="govuk-breadcrumbs__link" href="/Suppliers/@Model.Supplier.Id/obligationperiod/@Model.ObligationPeriod.Id">@Model.Supplier.Name</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Applications</li>
    </ol>
</div>
@if (Model.ObligationPeriod != null
   && Model.ObligationPeriod.EndDate.HasValue)
{
    <h2 class="govuk-heading-l">
        Applications for the obligation period ending <br />
        <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
    </h2>
}
@await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)
<div class="row">
    <div class="col-md-4">
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__header">
                        Application reference
                    </td>
                    <td class="govuk-table__header">
                        Application date
                    </td>
                    <td class="govuk-table__header">
                        Application Status
                    </td>
                    <td class="govuk-table__header">
                        Submitted by
                    </td>
                    <td class="govuk-table__header"> </td>
                </tr>

                @foreach (var item in Model.Result.Result)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@item.ApplicationId</td>
                        <td class="govuk-table__cell">@item.ApplicationDate.ToString("dd/MM/yyyy") </td>
                        <td class="govuk-table__cell">@item.ApplicationStatus.GetDisplayName() </td>
                        <td class="govuk-table__cell">@item.SubmittedBy</td>
                        <td class="govuk-table__cell"><a href="/applications/@item.ApplicationId/details">View</a></td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    @if (Model.Result.Result.Count == 0)
    {
        <div class="col-md-4 govuk-label">No applications to list</div>
    }
</div>

@await Html.PartialAsync("_PaginationPartial", Model.Result)

