﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.SuppliersViewModels.TransferRecipientViewModel
@{
    ViewData["Title"] = $"Select recipient for transfer - {Model.ObligationPeriod.GetDescription()} - {Model.SupplierName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriodId">Home</a>
        </li>
        @if (Model.DisplaySupplierContext)
        {
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            @if (Model.IsSupplier)
            {
                <a class="govuk-breadcrumbs__link" href="/suppliers/@Model.SupplierId/obligationperiod/@Model.ObligationPeriodId">@Model.SupplierName</a>
            }
            @if (Model.IsTrader)
            {
                <a class="govuk-breadcrumbs__link" href="/trader/@Model.SupplierId/obligationperiod/@Model.ObligationPeriodId">@Model.SupplierName</a>
            }
        </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Transfer credits</li>
    </ol>
</div>
<h1 class="govuk-heading-l">Transfer Credits Out</h1>
<div class="govuk-inset-text">
    for the obligation period ending <br />
    <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
</div>
@using (Html.BeginForm("Index", "Trading", FormMethod.Post))
{
    @Html.HiddenFor(m => m.SupplierId)
    @Html.HiddenFor(m => m.ObligationPeriodId)
    <h2 class="govuk-heading-m">Select recipient</h2>
    <legend class="govuk-fieldset__legend">
        Select someone to transfer your credits gained in the obligation period ending @Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy").
    </legend>
    <label class="govuk-label" for="searchtext">
        Search text
    </label>
    @Html.TextBoxFor(m => m.SearchText, new { @class = "govuk-input govuk-input--width-20", @type = "search", @name = "searchtext", @Id = "searchtext", @onsearch = "submit" })
    <button type="submit" class="govuk-button">
        Search
    </button>
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Organisation</th>
                <th class="govuk-table__header" scope="col">Type</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var supplier in Model.Result.Result)
            {

                @if (supplier.Id != Model.SupplierId)
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            <a class="govuk-link" href="/transfer/obligationPeriod/@Model.ObligationPeriodId/fromOrganisation/@Model.SupplierId/toOrganisation/@supplier.Id/TransferCredits">@supplier.Name</a>
                        </th>
                        @if (supplier.IsSupplier)
                        {
                            <td class="govuk-table__cell">Supplier</td>
                        }
                        @if (supplier.IsTrader)
                        {
                            <td class="govuk-table__cell">Trader</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (Model.Result.Result.Count == 0)
    {
        <div class="col-md-4 govuk-label">No suppliers to list</div>
    }
    @await Html.PartialAsync("_PaginationPartial", Model.Result)
    <br />
}

