﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.SuppliersViewModels.TransferredCreditsViewModel
@{
    ViewData["Title"] = $"Transfer successful - {Model.ObligationPeriod.GetDescription()} - {Model.SupplierName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriodId">Home</a>
        </li>
        @if (Model.DisplaySupplierContext)
        {
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            @if (Model.IsSupplier)
            {
                <a class="govuk-breadcrumbs__link" href="/suppliers/@Model.FromSupplierId/obligationperiod/@Model.ObligationPeriodId">@Model.SupplierName</a>
            }
            @if (Model.IsTrader)
            {
                <a class="govuk-breadcrumbs__link" href="/trader/@Model.FromSupplierId/obligationperiod/@Model.ObligationPeriodId">@Model.SupplierName</a>
            }
        </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Transfer credits</li>
    </ol>
</div>
<div class="govuk-panel govuk-panel--confirmation">
    <h2 class="govuk-panel__title">
        Credits successfully transferred out
    </h2>
    <div class="govuk-panel__body">
        Your reference number is @Model.TransactionId
        <br />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2 class="govuk-heading-m">Credit transfer details</h2>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Obligation period ending
                    </td>
                    <td class="govuk-table__cell">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Transfer credits to
                    </td>
                    <td class="govuk-table__cell">@Model.RecipientName</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Number of credits
                    </td>
                    <td class="govuk-table__cell">@Model.NumberOfCreditsToTransfer.ToString("#,##0.00")</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        Additional reference (optional)
                    </td>
                    <td class="govuk-table__cell">@Model.AdditionalReference</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Remaining credit balance</td>
                    <td class="govuk-table__cell">@Model.BalanceCreditsAfterTransfer.ToString("#,##0.00")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
