﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.SuppliersViewModels.TransferCreditsViewModel
@{
    ViewData["Title"] = $"Submit transfer - {Model.ObligationPeriod.GetDescription()} - {Model.SupplierName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriodId">Home</a>
        </li>
        @if (Model.DisplaySupplierContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                @if (Model.IsSupplier)
                {
                    <a class="govuk-breadcrumbs__link" href="/suppliers/@Model.FromSupplierId/obligationperiod/@Model.ObligationPeriodId">@Model.SupplierName</a>
                }
                @if (Model.IsTrader)
                {
                    <a class="govuk-breadcrumbs__link" href="/trader/@Model.FromSupplierId/obligationperiod/@Model.ObligationPeriodId">@Model.SupplierName</a>
                }
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Transfer credits</li>
    </ol>
</div>
<h1 class="govuk-heading-l">Transfer Credits Out</h1>
<div class="govuk-inset-text">
    for the obligation period ending <br />
    <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
</div>
@await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)
@using (Html.BeginForm("TransferredConfirmation", "Trading", FormMethod.Post))
{
    @Html.HiddenFor(m => m.FromSupplierId)
    @Html.HiddenFor(m => m.ToSupplierId)
    @Html.HiddenFor(m => m.ObligationPeriodId)
    @Html.HiddenFor(m => m.NumberOfCreditsToTransfer)
    @Html.HiddenFor(m => m.AvailableCreditBalance)
    @Html.HiddenFor(m => m.SupplierName)
    @Html.HiddenFor(m => m.RecipientName)
    @Html.HiddenFor(m => m.IsSupplier)
    @Html.HiddenFor(m => m.IsTrader)
    @Html.HiddenFor(m => m.AdditionalReference)
    <div class="govuk-form-group">
        <h2 class="govuk-heading-m">Credits</h2>
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend" id="confirm-credit-transfer">
                Please confirm the details of the credit transfer.
            </legend>
            <div class="govuk-form-group">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                Transfer credits to
                            </td>
                            <td class="govuk-table__cell">
                                <p class="govuk-body govuk-!-font-weight-bold">@Model.RecipientName</p>

                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                Number of credits
                            </td>
                            <td class="govuk-table__cell">
                                <p class="govuk-body govuk-!-font-weight-bold">@Model.NumberOfCreditsToTransfer.ToString("#,##0.00")</p>

                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                Additional reference (optional)
                            </td>
                            <td class="govuk-table__cell">
                                <p class="govuk-body govuk-!-font-weight-bold">@Model.AdditionalReference</p>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <button type="submit" class="govuk-button">
                Submit transfer
            </button>
        </fieldset>
    </div>
}

