﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.SuppliersViewModels.TransferCreditsViewModel
@{
    ViewData["Title"] = $"Transfer credits - {Model.ObligationPeriod.GetDescription()} - {Model.SupplierName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriodId">Home</a>
        </li>
        @if (Model.DisplaySupplierContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                @if (Model.IsSupplier)
                {
                    <a class="govuk-breadcrumbs__link" href="/suppliers/@Model.FromSupplierId/obligationperiod/@Model.ObligationPeriodId">@Model.SupplierName</a>
                }
                @if (Model.IsTrader)
                {
                    <a class="govuk-breadcrumbs__link" href="/trader/@Model.FromSupplierId/obligationperiod/@Model.ObligationPeriodId">@Model.SupplierName</a>
                }
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Transfer credits</li>
    </ol>
</div>
<h1 class="govuk-heading-l">Transfer Credits Out</h1>
<div class="govuk-inset-text">
    for the obligation period ending <br />
    <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
</div>
@await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)
@using (Html.BeginForm("TransferCredits", "Trading", FormMethod.Post))
{
    @Html.HiddenFor(m => m.FromSupplierId)
    @Html.HiddenFor(m => m.ToSupplierId)
    @Html.HiddenFor(m => m.ObligationPeriodId)
    @if (!Model.BalanceServiceFailed)
    {
        <div class="govuk-form-group">
            <h2 class="govuk-heading-m">Credits</h2>
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend" id="">
                    You currently have @Model.AvailableCreditBalance.ToString("#,##0.00") credits available for transfer. Select the number of credits you wish to transfer to @Model.RecipientName
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="number-of-credits-to-transfer">Number of credits to transfer</label>
                    <span asp-validation-for="NumberOfCreditsToTransfer" class="govuk-error-message"></span>
                    @Html.TextBoxFor(m => m.NumberOfCreditsToTransfer, new { @class = "govuk-input govuk-!-width-one-third", @id = "number-of-credits-to-transfer", @name = "number-of-credits-to-transfer" })
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="additional-reference">Additional reference (optional)</label>
                    <span asp-validation-for="AdditionalReference" class="govuk-error-message"></span>
                    @Html.TextBoxFor(m => m.AdditionalReference, new { @class = "govuk-input govuk-input--width-20", @id = "additional-reference", @name = "additional-reference" })
                </div>
                <br />
                <br />

                <button type="submit" class="govuk-button">
                    Continue
                </button>

            </fieldset>
        </div>
    }
}
