﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.AdministratorViewModels.FurtherActionsViewModel
@{
    ViewData["Title"] = "Administrator further actions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            @if (Model.ObligationPeriodId == null)
            {
                <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home">Home</a>
            }
            else
            {
                <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriodId">Home</a>
            }
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Further actions</li>
    </ol>
</div>

<h1 class="govuk-heading-l">What would you like to do next?</h1>
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Account management</h2>

        <ul class="list govuk-list">
            <li><a class="govuk-list-item" asp-controller="Account" asp-action="Index" asp-route-obligationPeriodId="@ViewBag.selectedObligationPeriodId">View or amend my details</a></li>
            <li><a class="govuk-list-item" asp-action="ManageUsers" asp-route-selectedObligationPeriodId="@ViewBag.selectedObligationPeriodId">Manage admin user access</a></li>
        </ul>
    </div>

    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">System administration</h2>

        <ul class="list govuk-list">
            <li><a class="govuk-list-item" asp-controller="SystemAdministration" asp-action="GhgBalances" asp-route-selectedObligationPeriodId="@ViewBag.selectedObligationPeriodId">Manage GHG balances</a></li>
            <li>
                @if (@Model.ObligationPeriodId == null)
                {
                    <a class="govuk-list-item" asp-controller="SupplierSubmissions" asp-action="DownloadAllApplications">Download all application data</a>
                }
                else
                {
                    <a class="govuk-list-item" asp-controller="SupplierSubmissions" asp-action="DownloadAllApplications" asp-route-obligationPeriodId="@Model.ObligationPeriodId">Download all application data</a>
                }
            </li>
            <li><a class="govuk-list-item" asp-controller="SystemAdministration" asp-action="DownloadAllPerformanceData" asp-route-selectedObligationPeriodId="@ViewBag.selectedObligationPeriodId">Download all performance data</a></li>
        </ul>
    </div>
</div>
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Applications</h2>

        <ul class="list govuk-list">
            <li><a class="govuk-list-item" asp-controller="Credits" asp-action="Issue" asp-route-selectedObligationPeriodId="@ViewBag.selectedObligationPeriodId">Issue credits</a></li>
        </ul>
    </div>
</div>