﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.AdministratorViewModels
@model ManageAdminUsersViewModel
@{
    ViewData["Title"] = "Manage admin users";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@ViewBag.selectedObligationPeriodId">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Manage admin users</li>
    </ol>
</div>
<h1 class="govuk-heading-xl">Manage admin users</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-route-selectedObligationPeriodId="@ViewBag.selectedObligationPeriodId" method="post">
            @await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="account hint" role="group">
                    <label class="govuk-label" for="email">
                        Email address of user
                    </label>
                    <span class="govuk-hint">
                        Invite a user to create a GOS account with admin access or give admin access to an existing user
                    </span>

                    <span asp-validation-for="Email" class="govuk-error-message"></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "govuk-input govuk-input--width-20", @Email = "email", @Id = "email" })
                    <button type="submit" class="govuk-button">
                        Add User
                    </button>
                </fieldset>
            </div>
        </form>
    </div>
</div>
<h2 class="govuk-heading-m">Existing Users</h2>
<table class="govuk-table">
    <tbody class="govuk-table__body">
        @foreach (var user in Model.Users)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">@user.FullName</td>
                <td class="govuk-table__cell">@user.Email</td>
                <td class="govuk-table__cell">
                    @if (Model.CurrentUserId != user.Id)
                    {<a href="/manageusers/@user.Id/Remove?selectedObligationPeriodId=@ViewBag.selectedObligationPeriodId">Remove</a>}
                </td>
            </tr>
        }
    </tbody>
</table>


