﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.AdministratorViewModels;
@model AdminUserViewModel
@{
    ViewData["Title"] = "Remove admin user";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@ViewBag.selectedObligationPeriodId">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" asp-action="ManageUsers" asp-route-selectedObligationPeriodId="@ViewBag.selectedObligationPeriodId">Manage admin users</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Remove</li>
    </ol>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-route-selectedObligationPeriodId="@ViewBag.selectedObligationPeriodId" method="post">

            <h1 class="govuk-panel__title">
                Confirm removal
            </h1>
            <div class="govuk-label">
                Account for @Model.FullName with Email @Model.Email will be removed from administrator role.
                Are you sure you want to proceed?
            </div>
            <br />
            <br />

            <a class="govuk-button" role="button" asp-action="ManageUsers" asp-route-selectedObligationPeriodId="@ViewBag.selectedObligationPeriodId">No</a>
            <button type="submit" class="govuk-button">
                Yes
            </button>
        </form>
    </div>
</div>

