﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.AdministratorViewModels.ManageAdminUsersViewModel

@{
    ViewData["Title"] = "Invitation confirmation";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@ViewBag.selectedObligationPeriodId">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" asp-action="ManageUsers" asp-route-selectedObligationPeriodId="@ViewBag.selectedObligationPeriodId">Manage admin users</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Confirmation</li>
    </ol>
</div>

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        @ViewData["Title"]
    </h1>
    <div class="govuk-panel__body">
        Your invitation has been sent to @Model.Email.<br/>
        They will be added to the existing administration users table once they accept and create their account.
    </div>
</div>

