﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.TraderViewModels.TraderFurtherActionsViewModel

@{
    ViewData["Title"] = "Supplier further actions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home">Home</a>
        </li>
        @if (Model.ShowOrganisationContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                <a class="govuk-breadcrumbs__link" href="/trader/@Model.Trader.Id/obligationperiod/@Model.ObligationPeriodId">@Model.Trader.Name</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Further actions</li>
    </ol>
</div>

<h1 class="govuk-heading-l">What would you like to do next?</h1>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Account management</h2>

        <ul class="list govuk-list">
            <li><a class="govuk-list-item" asp-controller="Account" asp-action="Index" asp-route-obligationPeriodId="@Model.ObligationPeriodId">View or amend my details</a></li>
            <li><a class="govuk-list-item" href="/trader/@Model.Trader.Id/manageusers?obligationPeriodId=@Model.ObligationPeriodId">Manage user access</a></li>
        </ul>
    </div>
</div>