﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.SuppliersViewModels.ViewSupplierViewModel

@{
    ViewData["Title"] = "Manage users";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriodId">Home</a>
        </li>
        @if (Model.ShowOrganisationContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                <a class="govuk-breadcrumbs__link" href="/trader/@Model.Id/obligationperiod/@Model.ObligationPeriodId">@Model.Name</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Manage users</li>
    </ol>
</div>

<h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

<h2 class="govuk-heading-m">Add new users</h2>
<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="Role" />
<input type="hidden" asp-for="Name" />
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            @await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)
            @Html.HiddenFor(m => m.ObligationPeriodId)
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="account hint" role="group">
                    <label class="govuk-label" for="email">
                        Email address of user
                    </label>
                    <span class="govuk-hint">
                        If the user has a GOS account they will be sent an email inviting them to gain access to the company
                    </span>

                    <span asp-validation-for="Email" class="govuk-error-message"></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "govuk-input govuk-input--width-20", @Email = "email", @Id = "email" })
                    <button type="submit" class="govuk-button">
                        Add User
                    </button>
                </fieldset>
            </div>
        </form>
    </div>
</div>


<h2 class="govuk-heading-m">Existing Users</h2>
@if (Model.Users.Count > 0)
{
    <table class="govuk-table">
        <tbody class="govuk-table__body">
            @foreach (var user in Model.Users)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@user.FullName</td>
                    <td class="govuk-table__cell">@user.Email</td>
                    <td class="govuk-table__cell">
                        @if (user.Id != Model.CurrentUserId)
                        {
                            <a href="/trader/@Model.Id/manageusers/@user.Id/Remove?obligationPeriodId=@Model.ObligationPeriodId">Remove</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="govuk-body">There are currently no users linked to this organisation</p>
}
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}