﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.SuppliersViewModels.ViewSupplierUserViewModel

@{
    ViewData["Title"] = "Confirm user removal";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            @if (@Model.ObligationPeriodId.HasValue)
            {
                <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriodId">Home</a>
            }
            else
            {
                <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home">Home</a>
            }
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">@Model.OrganisationName</li>
    </ol>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            @Html.HiddenFor(m => m.ObligationPeriodId)
            <h2 class="govuk-panel__title">
                @ViewData["Title"]
            </h2>
            <div class="govuk-label">
                Account for @Model.FullName with Email @Model.Email will be removed from @Model.OrganisationName.
                Are you sure you want to proceed?
            </div>
            <br />
            <br />

            @if (@Model.ObligationPeriodId.HasValue)
            {
                <a class="govuk-button" role="button" href="/trader/@Model.OrganisationId/manageusers?obligationPeriodId=@Model.ObligationPeriodId">No</a>
            }
            else
            {
                <a class="govuk-button" role="button" href="/trader/@Model.OrganisationId/manageusers">No</a>
            }
            <button type="submit" class="govuk-button">Yes</button>
        </form>
    </div>
</div>