﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.ReviewApplicationsViewModels;
@model ApplicationSectionReview

<h2 class="govuk-heading-m" id="review-status-header">RTFO review</h2>
@Html.HiddenFor(m => m.ApplicationId)
@Html.HiddenFor(m => m.CanEditReviewStatus)
<div class="govuk-radios govuk-radios--conditional" data-module="radios">
    <div class="govuk-radios__item">
        @if (Model.CanEditReviewStatus)
        {
            @Html.RadioButtonFor(m => m.ReviewStatus, Review.ReviewStatuses.NotReviewed, new { @class = "govuk-radios__input", @id = "approval-status-notReviewed", @name = "approval-status", @data_aria_controls = "conditional-approval-status-notReviewed", @aria_labelledby = "review-status-header approval-status-notReviewed-label" })
        }
        else
        {
            @Html.RadioButtonFor(m => m.ReviewStatus, Review.ReviewStatuses.NotReviewed, new { @class = "govuk-radios__input", @id = "approval-status-notReviewed", @name = "approval-status", @data_aria_controls = "conditional-approval-status-notReviewed", @aria_labelledby = "review-status-header approval-status-notReviewed-label", @disabled = "disabled" })
        }
        <label id="approval-status-notReviewed-label" class="govuk-label govuk-radios__label" for="approval-status-notReviewed">
            Not reviewed
        </label>
    </div>
    <div class="govuk-radios__item">
        @if (Model.CanEditReviewStatus)
        {
            @Html.RadioButtonFor(m => m.ReviewStatus, Review.ReviewStatuses.Approved, new { @class = "govuk-radios__input", @id = "approval-status-reviewed", @name = "approval-status", @data_aria_controls = "conditional-approval-status-reviewed", @aria_labelledby = "review-status-header approval-status-reviewed-label" })
        }
        else
        {
            @Html.RadioButtonFor(m => m.ReviewStatus, Review.ReviewStatuses.Approved, new { @class = "govuk-radios__input", @id = "approval-status-reviewed", @name = "approval-status", @data_aria_controls = "conditional-approval-status-reviewed", @aria_labelledby = "review-status-header approval-status-reviewed-label", @disabled = "disabled" })
        }
        <label id="approval-status-reviewed-label" class="govuk-label govuk-radios__label" for="approval-status-reviewed">
            Approved
        </label>
    </div>
    <div class="govuk-radios__item">
        @if (Model.CanEditReviewStatus)
        {
            @Html.RadioButtonFor(m => m.ReviewStatus, Review.ReviewStatuses.Rejected, new { @class = "govuk-radios__input", @id = "approval-status-rejected", @name = "approval-status", @data_aria_controls = "conditional-approval-status-rejected", @aria_labelledby = "review-status-header approval-status-rejected-label" })
        }
        else
        {
            @Html.RadioButtonFor(m => m.ReviewStatus, Review.ReviewStatuses.Rejected, new { @class = "govuk-radios__input", @id = "approval-status-rejected", @name = "approval-status", @data_aria_controls = "conditional-approval-status-rejected", @aria_labelledby = "review-status-header approval-status-rejected-label", @disabled = "disabled" })
        }
        <label id="approval-status-rejected-label" class="govuk-label govuk-radios__label" for="approval-status-rejected">
            Rejected
        </label>
    </div>
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-approval-status-rejected">
        <div class="govuk-form-group">
            <label class="govuk-label" for="rejection-reason">
                Rejection reason
            </label>
            <span asp-validation-for="RejectionReason" class="govuk-error-message"></span>
            @if (Model.CanEditReviewStatus)
            {
                @Html.TextAreaFor(m => m.RejectionReason, 5, 1, new { @class = "govuk-textarea", @id = "rejection-reason", @name = "rejection-reason" })
            }
            else
            {
                @Html.TextAreaFor(m => m.RejectionReason, 5, 1, new { @class = "govuk-textarea", @id = "rejection-reason", @name = "rejection-reason", @disabled = "disabled" })
            }
        </div>
    </div>
</div>



<br />
@if (Model.CanEditReviewStatus)
{
    <button type="submit" class="govuk-button">
        Continue
    </button>
}
else
{
    <a class="govuk-button" href="/Review/Applications/@Model.ApplicationId@Model.FilterQueryString">Continue</a>
}