﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@

@{
    ViewData["Title"] = "Accessibility statement";
}

<h1 class="govuk-heading-l">Accessibility statement for gos.dft.gov.uk</h1>

<p class="govuk-body">This statement applies to content published on the gos.dft.gov.uk sub-domain. It does not apply to content on www.gov.uk or dft.gov.uk sub-domains.</p>

<p class="govuk-body">This website is run by the Government Digital Service. It is designed to be used by as many people as possible. The text should be clear and simple to understand. You should be able to:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>zoom in up to 200% without problems</li>
    <li>navigate most of the website using just a keyboard</li>
    <li>use most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
</ul>

<h2 class="govuk-heading-m">How accessible this website is</h2>
<p class="govuk-body">Parts of this website are not fully accessible. For example:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>
        when zoomed to 300%
        <ul>
            <li>the 'Sign Out' link appears as a Menu in the top right of the screen and instead of expanding on selection, will sign the user out immediately.</li>
            <li>some data tables will overspill the available space</li>
            <li>the spacing between some components will be reduced</li>
        </ul>
    </li>
    <li>the web page footer has poor colour contrast</li>
</ul>

<h2 class="govuk-heading-m">What to do if you cannot access parts of this website</h2>
<p class="govuk-body">If you need information in a different format <a href="https://www.gov.uk/guidance/renewable-transport-fuels-obligation#contact-details">contact us</a> and tell us:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>the web address (URL) of the content</li>
    <li>your name and email address</li>
    <li>the format you need, for example, audio CD, braille, BSL or large print, accessible PDF</li>
</ul>

<h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
<p class="govuk-body">We're always looking to improve accessibility of this website. If you find any problems that are not listed on this page or you think we're not meeting the accessibility requirements, <a href="https://www.gov.uk/guidance/renewable-transport-fuels-obligation#contact-details">contact us</a>.</p>

<h2 class="govuk-heading-m">Enforcement procedure</h2>
<p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations').</p>
<p class="govuk-body">If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

<h2 class="govuk-heading-l">Technical information about this website's accessibility</h2>
<p class="govuk-body">The Government Digital Service is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
<p class="govuk-body">This website is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>

<h1 class="govuk-heading-l">Non accessible content</h1>
<p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>

<h2 class="govuk-heading-m">Non compliance with the accessibility regulations</h2>
<p class="govuk-body">Not applicable</p>

<h2 class="govuk-heading-m">Disproportionate burden</h2>
<p class="govuk-body">Not applicable.</p>

<h2 class="govuk-heading-m">Content that's not within the scope of the accessibility regulations</h2>
<p class="govuk-body">Not applicable.</p>

<h2 class="govuk-heading-m">PDFs and other documents</h2>
<p class="govuk-body">Many documents are not accessible in a number of ways including missing text alternatives and missing document structure.</p>
<p class="govuk-body">View the <a href="https://www.gov.uk/search/all?parent=&keywords=%22accessible+document+policy%22&level_one_taxon=a544d48b-1e9e-47fb-b427-7a987c658c14&level_two_taxon=&manual=&public_timestamp%5Bfrom%5D=&public_timestamp%5Bto%5D=&topical_events=&order=relevance">accessible document policy</a> of the organisation that published the document to report any problems or request documents in an alternative format.</p>

<h1 class="govuk-heading-l">How we tested this website</h1>
<p class="govuk-body">This website was tested for compliance with the Web Content Accessibility Guidelines V2.1 level A and level AA. The test was carried out by Triad Group Plc on 10 March 2020.</p>
<p class="govuk-body">We tested every page of this site using several of the most common assistive technology tools and included users with access needs in our testing.</p>

<h2 class="govuk-heading-l">What we're doing to improve accessibility</h2>
<p class="govuk-body">We plan to identify and fix issues according to the timescales shown for each area above.</p>
<p class="govuk-body">This statement was prepared on 10 March 2020. It was last updated on 10 March 2020.</p>
