﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.AdministratorViewModels;
@model AdministratorSummaryViewModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="govuk-heading-l">Administrator: @Model.UserDisplayName</h1>

<div class="govuk-inset-text">
    @if (Model.ObligationPeriod == null)
    {
        @: No obligation period has been selected
    }
    else
    {
        @:Details for the obligation period ending <br />
        <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
    }

    <br /><br /><a class="govuk-link" href="/obligationperiods/@Model.ObligationPeriod.Id/select/administratorhome">Choose to view another obligation period</a>
</div>

@if (Model.ObligationPeriod != null && Model.TotalBalanceSummary != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Obligation period at a glance...</h2>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">&nbsp;</th>
                        <th class="govuk-table__header rightAlign" scope="col">Credit<br /><span class="fuelUnit">(KgCO<sub>2</sub>e)</span></th>
                        <th class="govuk-table__header rightAlign" scope="col">Obligation<br /><span class="fuelUnit">(KgCO<sub>2</sub>e)</span></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Balance</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@Model.TotalBalanceSummary.BalanceCredits.ToString("#,##0.00")</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@Model.TotalBalanceSummary.BalanceObligation.ToString("#,##0.00")</td>
                    </tr>
                    @if (Model.TotalBalanceSummary.NetPosition < 0)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-!-font-weight-bold">Net obligation</td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">@((Model.TotalBalanceSummary.NetPosition * -1).ToString("#,##0.00"))</td>
                        </tr>
                    }
                    else
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-!-font-weight-bold">Net credits</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold">@Model.TotalBalanceSummary.NetPosition.ToString("#,##0.00")</td>
                            <td class="govuk-table__cell"></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
}
<h2 class="govuk-heading-m">What would you like to do next?</h2>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-s">View applications</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a class="govuk-link" asp-controller="ReviewApplications" asp-action="index" asp-route-page="1" asp-route-order="ascending" asp-route-applicationstatus="submitted" asp-route-selectedObligationPeriodId="@Model.ObligationPeriod.Id">Awaiting stage 1 review</a>
            </li>
            <li>
                <a class="govuk-link" asp-controller="ReviewApplications" asp-action="index" asp-route-page="1" asp-route-order="ascending" asp-route-applicationstatus="recommendapproval" asp-route-selectedObligationPeriodId="@Model.ObligationPeriod.Id">Awaiting stage 2 review</a>
            </li>
            <li>
                <a class="govuk-link" asp-controller="ReviewApplications" asp-action="index" asp-route-page="1" asp-route-order="ascending" asp-route-selectedObligationPeriodId="@Model.ObligationPeriod.Id">All pending applications</a>
            </li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-s">Other actions</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                @if (Model.ObligationPeriod != null)
                {
                    <a class="govuk-link" href="/Organisations?obligationPeriodId=@Model.ObligationPeriod.Id">View organisations</a>
                }
                else
                {
                    <a class="govuk-link" href="/Organisations">View organisations</a>
                }
            </li>
            <li>
                <a class="govuk-link" href="/credits/summary/@Model.ObligationPeriod.Id">View credit events</a>
            </li>
            <li>
                @if (Model.ObligationPeriod != null)
                {
                    <a class="govuk-link govuk-!-font-weight-bold" href="ObligationPeriod/@Model.ObligationPeriod.Id/Administrator/FurtherActions">More</a>
                }
                else
                {
                    <a class="govuk-link govuk-!-font-weight-bold" href="Administrator/FurtherActions">More</a>
                }
            </li>
        </ul>
    </div>
</div>