﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@

@{
    ViewData["Title"] = "Cookies";
}

<h1 class="govuk-heading-xl">Cookies</h1>

<p class="govuk-body">This service puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.</p>

<p class="govuk-body">Cookies are used to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>help keep your data secure on the website</li>
    <li>measure how you use the website so it can be updated and improved based on your needs</li>
    <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
</ul>

<p class="govuk-body">Find out more about <a href="http://www.aboutcookies.org">how to manage cookies</a>.</p>

<h2 class="govuk-heading-l">How cookies are used by the Manage Motor Fuel Greenhouse Gas Emissions Service (GHG)</h2>

<h3 class="govuk-heading-m">Our introductory message</h3>

<p class="govuk-body">You may see a pop-up welcome message when you first visit the website. We’ll store a cookie so that your computer knows you’ve seen it and knows not to show it again.</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__cell">Name</th>
            <th class="govuk-table__cell">Purpose</th>
            <th class="govuk-table__cell">Expires</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">seen_cookie_message</td>
            <td class="govuk-table__cell">Saves a message to let us know that you’ve seen our cookie message</td>
            <td class="govuk-table__cell">3 months</td>
        </tr>
    </tbody>
</table>

<h3 class="govuk-heading-m">Keeping data secure</h3>

<p class="govuk-body">The following cookies are used to help keep data on the website secure.</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__cell">Name</th>
            <th class="govuk-table__cell">Purpose</th>
            <th class="govuk-table__cell">Expires</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">XSRF-TOKEN</td>
            <td class="govuk-table__cell">This helps us ensure that only authorised users can change data</td>
            <td class="govuk-table__cell">End of browser session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">GOS</td>
            <td class="govuk-table__cell">This tells us your user id and ensures that you are given the correct permissions within the system</td>
            <td class="govuk-table__cell">30 minutes</td>
        </tr>
    </tbody>
</table>

<h3 class="govuk-heading-m">Google Analytics</h3>

<p class="govuk-body">
    We use Google Analytics to collect information about how you use this website. This information is only shared with our 3rd party supplier for the purposes of supporting the service and is not used for advertising or marketing purposes. 
    We collect information including which pages you visited and how long your session was so that we can improve the website and provide you with a better user experience. 
    You can opt-out of Google Analytics with the browser add-on: <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>
</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__cell">Name</th>
            <th class="govuk-table__cell">Purpose</th>
            <th class="govuk-table__cell">Expires</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_ga</td>
            <td class="govuk-table__cell">Used to distinguish users.</td>
            <td class="govuk-table__cell">2 years</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_gid</td>
            <td class="govuk-table__cell">Used to distinguish users.</td>
            <td class="govuk-table__cell">24 hours</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_gat_gtag_UA_*</td>
            <td class="govuk-table__cell">Used to throttle request rate.</td>
            <td class="govuk-table__cell">1 minute</td>
        </tr>
    </tbody>
</table>
