﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.UnlinkedUserViewModels.UnlinkedUserSummaryViewModel

@{
    ViewData["Title"] = "Home";
}

@if (Model.AccountCreated)
{
    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            GHG user account successfully created
        </h1>
    </div>
}

<h1 class="govuk-heading-l">Welcome</h1>

<p class="govuk-body">Welcome to your GHG landing page. In order to report GHG emissions you now need to link your user account to a company.</p>

<h2 class="govuk-heading-m">What would you like to do next?</h2>

<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Link your user account to a company already registered in the ROS system
        </span>
    </summary>
    <div class="govuk-details__text">
        <p>
            If someone from your company has already created a user account and been linked to your company in the GHG system, they can invite you to join. Alternatively, please contact the RTFO compliance team using the following:
        </p>

        <ul>
            <li>Email: @Model.RtfoSupportEmailAddress</li>
            @if (!string.IsNullOrWhiteSpace(Model.RtfoSupportTelephoneNumber))
            {
                <li>Telephone: @Model.RtfoSupportTelephoneNumber</li>
            }
        </ul>
    </div>
</details>

<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Register a new company in the ROS system
        </span>
    </summary>
    <div class="govuk-details__text">
        <p>
            You will need to contact the RTFO compliance team to register your company. <a href="https://www.gov.uk/guidance/renewable-transport-fuels-obligation#how-do-i-register">View further information about registering your company</a>.
        </p>
    </div>
</details>