﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@{
    ViewData["Title"] = "Page not found";
}

<h1 class="govuk-heading-xl">Page not found</h1>

<p class="govuk-body">
    If you typed the web address, check it is correct.
</p>
<p class="govuk-body">
    If you pasted the web address, check you copied the entire address.
</p>
