﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@

@{
    ViewData["Title"] = "Privacy policy";
}

<h1 class="govuk-heading-xl">Privacy Policy</h1>

<p class="govuk-body">
    The Manage Motor Fuel Greenhouse Gas Emissions Service (GHG) is provided by the Department for Transport (DfT).

    The data controller is the Department for Transport. A data controller determines how and why personal data is processed. For more information, read the DfT’s entry in the <a href="https://ico.org.uk/ESDWebPages/Entry/Z7122992">Data Protection Public Register</a>.
</p>

<h2 class="govuk-heading-l">What data we need</h2>

<p class="govuk-body">The personal data we collect from you includes:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>your name and email address when you register for the service</li>
    <li>information on how you use the site, using cookies</li>
    <li>optionally your name, email address and phone number for use in the marketplace</li>
</ul>

<p class="govuk-body">The legal basis for processing this data is to perform a task in the public interest that is set out in law and is statute based.</p>

<h2 class="govuk-heading-l">Why we need it</h2>

<p class="govuk-body">We use this data to:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>grant you access to the service</li>
    <li>send email alerts</li>
    <li>allow other registered organisations to contact you to buy or sell credits</li>
</ul>

<h2 class="govuk-heading-l">What we do with your data</h2>

<p class="govuk-body">The data we collect may be shared with supplier organisations, other government departments, agencies and public bodies.</p>

<p class="govuk-body">We will not:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>sell or rent your data to third parties</li>
    <li>share your data with third parties for marketing purposes</li>
    <li>We will share your data if we are required to do so by law – for example, by court order, or to prevent fraud or other crime.</li>
</ul>

<h2 class="govuk-heading-l">How long we keep your data</h2>

<p class="govuk-body">We will only retain your personal data for as long as:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>it is needed for the purposes set out in this document</li>
    <li>the law requires us to</li>
</ul>

<p class="govuk-body">If your account is inactive for three years, we will anonymise your personal data.</p>

<h2 class="govuk-heading-l">Children's privacy protection</h2>

<p class="govuk-body">Our services are not designed for, or intentionally targeted at, children 13 years of age or younger. We do not intentionally collect or maintain data about anyone under the age of 13.</p>

<h2 class="govuk-heading-l">Where your data is processed and stored</h2>

<p class="govuk-body">We design, build and run our systems to make sure that your data is as safe as possible at any stage, both while it’s processed and when it’s stored.</p>

<p class="govuk-body">Your personal data may, throughout the course of its processing at DfT, be transferred outside of the <a href="https://www.gov.uk/eu-eea">European Economic Area</a> (EEA). Where this is the case, all appropriate technical and legal safeguards will be put in place to ensure that you are afforded the same level of protection as within the EEA.</p>

<h2 class="govuk-heading-l">How we protect your data and keep it secure</h2>

<p class="govuk-body">We are committed to doing all that we can to keep your data secure. We have set up systems and processes to prevent unauthorised access or disclosure of your data – for example, we protect your data using varying levels of encryption.</p>

<p class="govuk-body">We also make sure that any third parties that we deal with keep all personal data they process on our behalf secure.</p>

<h2 class="govuk-heading-l">Your rights</h2>

<p class="govuk-body">You have the right to request:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>information about how your personal data is processed</li>
    <li>a copy of that personal data</li>
    <li>that anything inaccurate in your personal data is corrected immediately</li>
</ul>

<p class="govuk-body">You can also:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>raise an objection about how your personal data is processed</li>
    <li>request that your personal data is erased if there is no longer a justification for it</li>
    <li>ask that the processing of your personal data is restricted in certain circumstances</li>
</ul>

<p class="govuk-body">If you have any of these requests, get in contact with our Data Protection Officer.</p>

<h2 class="govuk-heading-l">Changes to this policy</h2>

<p class="govuk-body">We may change this privacy policy. Any changes to this privacy policy will apply to you and your data immediately.</p>

<p class="govuk-body">If these changes affect how your personal data is processed, DfT will take reasonable steps to let you know.</p>
