﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.ObligationPeriodViewModels;
@using DfT.GOS.Organisations.API.Client.Models;
@model SelectObligationViewModel
@{
    ViewData["Title"] = "Select obligation period";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home">Home</a>
        </li>
        @if (Model.ShowOrganisationContext && !string.IsNullOrEmpty(Model.OrganisationName))
        {
            if (Model.OrganisationTypeId == (int)Organisation.OrganisationTypes.Supplier)
            {
                <li class="govuk-breadcrumbs__list-item" aria-current="page"><a class="govuk-breadcrumbs__link" href="/Suppliers/@Model.OrganisationId">@Model.OrganisationName</a></li>
            }
            else if (Model.OrganisationTypeId == (int)Organisation.OrganisationTypes.Trader)
            {
                <li class="govuk-breadcrumbs__list-item" aria-current="page"><a class="govuk-breadcrumbs__link" href="/Trader/@Model.OrganisationId">@Model.OrganisationName</a></li>
            }
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Select obligation period</li>
    </ol>
</div>
<h1 class="govuk-heading-m">Select obligation period</h1>
<div class="govuk-inset-text" id="select-obligation-period-label">
    Please select the obligation period you wish to view.
</div>
@using (Html.BeginForm("select", "ObligationPeriods", FormMethod.Post))
{
    @Html.HiddenFor(m => m.OrganisationId)
    @Html.HiddenFor(m => m.RedirectTarget)
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-radios" data-module="radios">
                        @for (int i = 0; i < Model.ObligationPeriods.Count; i++)
                        {
                            var id = "selected-obligation-period" + i;
                            var labelId = "selected-obligation-period-label" + i;
                            <div class="govuk-radios__item">
                                @Html.RadioButtonFor(m => m.SelectedObligationPeriod, Model.ObligationPeriods[i].Id, new { @class = "govuk-radios__input", @id = @id, @aria_labelledby = "select-obligation-period-label " + labelId })
                                <label id="@labelId" class="govuk-label govuk-radios__label" for="@id">
                                    Obligation period ending @Model.ObligationPeriods[i].EndDate.Value.ToString("dd/MM/yyyy")
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </fieldset>
        <br />
        <br />
        <button type="submit" class="govuk-button">
            Continue
        </button>

    </div>
}