﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.CreditsViewModels.CreditTransfersViewModel

@{
    ViewData["Title"] = $"Credit events{(Model.ObligationPeriodEndDate.HasValue ? Model.ObligationPeriodEndDate.Value.ToString(" - dd/MM/yyyy") : "")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriodId">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Credit Events</li>
    </ol>
</div>

<h1 class="govuk-heading-l">Credit Events</h1>

<div class="govuk-inset-text">
    @if (Model.ObligationPeriodEndDate.HasValue)
    {
        @: Details for the obligation period ending <br />
        <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriodEndDate.Value.ToString("dd/MM/yyyy")</span>
    }
    else
    {
        @: Details for the obligation period
    }
    <br /><br /><a class="govuk-link" href="/obligationperiods/@Model.ObligationPeriodId/select/credit">Choose to view another obligation period</a>
</div>

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ObligationPeriodId)

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label for="searchtext" class="govuk-label">
                Search text
            </label>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            @Html.TextBoxFor(m => m.SearchText, new { @class = "govuk-input govuk-input--width-20", @type = "search", @name = "SearchText", @Id = "searchtext", @onsearch = "submit" })
        </div>
    </div>
    <div class="govuk-grid-row govuk-body govuk-!-margin-top-4">
        <div class="govuk-grid-column-one-half">
            <button type="submit" class="govuk-button">
                Search
            </button>
        </div>
        <div class="govuk-grid-column-one-half">
            @if (Model.ResultPaged.Result.Count > 0)
            {
                <a href="/Credits/Summary/@Model.ObligationPeriodId/Csv?search=@Model.SearchText" aria-label="Download credit transfers CSV">
                    <img class="rtfo-download govuk-!-margin-right-2" src="/assets/images/icon-csv.png" alt="Download credit transfers CSV">Download credit transfers
                </a>
            }
        </div>
    </div>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Reference</th>
                <th class="govuk-table__header" scope="col">Date</th>
                <th class="govuk-table__header" scope="col">Sender</th>
                <th class="govuk-table__header" scope="col">Receiver</th>
                <th class="govuk-table__header" scope="col">Additional Reference</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Credits</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var credit in Model.ResultPaged.Result)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@credit.Reference</td>
                    <td class="govuk-table__cell">@credit.Date.ToString("dd/MM/yyyy")</td>
                    <td class="govuk-table__cell">@credit.OrganisationName</td>
                    <td class="govuk-table__cell">@credit.TradingOrganisationName</td>
                    <td class="govuk-table__cell" scope="row">@credit.AdditionalReference</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@credit.Credits.ToString("#,##0.00")</td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.ResultPaged.Result.Count == 0)
    {
        <div class="col-md-4 govuk-label">No credit events to list</div>
    }
    @await Html.PartialAsync("_PaginationPartial", Model.ResultPaged)
</form>