﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.CreditsViewModels;
@model PagedIssueCreditsViewModel
@{
    ViewData["Title"] = "Issue credits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@ViewBag.selectedObligationPeriodId">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Issue credits</li>
    </ol>
</div>
<h1 class="govuk-heading-l">Issue credits</h1>

@if (Model.Applications.TotalResults > 0)
{
    @await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)
    <div class="row">
        <div class="col-md-4">
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__header">
                            Application date
                        </td>
                        <td class="govuk-table__header">
                            Application reference
                        </td>
                        <td class="govuk-table__header">
                            Supplier
                        </td>
                        <td class="govuk-table__header govuk-table__header--numeric">
                            Credits applied for
                        </td>
                    </tr>
                    @foreach (var item in Model.Applications.Result)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@item.SubmittedDate.ToString("dd/MM/yyyy")</td>
                            <td class="govuk-table__cell">@item.ApplicationId</td>
                            <td class="govuk-table__cell">@item.Supplier</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">@item.CreditsApplierFor.ToString("#,##0.00")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @await Html.PartialAsync("_PaginationPartial", Model.Applications)

    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Selecting the issue credits button will issue credits against all applications currently approved for credit issue.
        </strong>
    </div>

    @using (Html.BeginForm("Issue", "Credits", new { selectedObligationPeriodId = ViewBag.selectedObligationPeriodId }, FormMethod.Post))
    {

        <button type="submit" class="govuk-button">Issue Credits</button>
    }

}
else
{
    <p class="govuk-body">There aren't currently any applications ready for issue.</p>
}