﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@{
    ViewData["Title"] = "Issue credit confirmation";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@ViewBag.selectedObligationPeriodId">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="credits" asp-action="issue" asp-route-selectedObligationPeriodId="@ViewBag.selectedObligationPeriodId">Issue credits</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Confirmation</li>
    </ol>
</div>
<div class="govuk-panel govuk-panel--confirmation">
    <h2 class="govuk-panel__title">
        @ViewData["Title"]
    </h2>
    <div class="govuk-panel__body">
        The credits have been issued successfully.
        <br />
    </div>
</div>
