@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Security.Claims;

@if (User.Identity.IsAuthenticated)
{
    <form asp-area="" asp-controller="Account" asp-action="SignOut" method="post" id="logoutForm" class="navbar-right">
        <button role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
        <nav>
            <ul id="navigation" class="govuk-header__navigation" aria-label="Top Level Navigation">
                <li class="govuk-header__navigation-item govuk-header__link header__navigation-link">
                    Signed in as
                    @if (ViewBag.selectedObligationPeriodId != null)
                    {
                        @Html.ActionLink(User.GetUserName(), "Index", "Account", new { ObligationPeriodId = ViewBag.selectedObligationPeriodId }, new { @class = "header__navigation-link" })
                    }
                    else
                    {
                    @Html.ActionLink(User.GetUserName(), "Index", "Account", null, new { @class = "header__navigation-link" })
                    }
                </li>
                <li class="govuk-header__navigation-item">
                    <button type="submit" class="buttonAsAnchor govuk-header__link header__navigation-button">Sign out</button>
                </li>
            </ul>
        </nav>
    </form>
}