﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.IPagedResult
@if (Model.PageCount > 1)
{
    var query = "";
    if (ViewBag.Query != null)
    {
        query = ViewBag.Query;
    }
    <nav role="navigation" aria-label="Pagination">
        <div class="pagination__summary">Showing @Model.FirstResult &ndash; @Model.LastResult of @Model.TotalResults results</div>
        <ul class="pagination">
            @if (Model.PageNumber > 1)
            {
                <li class="pagination__item"><a class="pagination__link" href="?page=@Model.FirstPage@query" aria-label="First page"><span aria-hidden="true" role="presentation">&laquo;</span> First</a></li>
                <li class="pagination__item"><a class="pagination__link" href="?page=@Model.PreviousPageNumber@query" aria-label="Previous page"><span aria-hidden="true" role="presentation">&lsaquo;</span> Previous</a></li>
            }

            @for (int pageNumber = Model.FirstPageToDisplay; pageNumber <= Model.LastPageToDisplay; pageNumber++)
            {
                if (pageNumber == Model.PageNumber)
                {
                    <li class="pagination__item"><a class="pagination__link current" href="?page=@pageNumber@query" aria-current="true" aria-label="Page @pageNumber, current page">@pageNumber</a></li>
                }
                else
                {
                    <li class="pagination__item"><a class="pagination__link" href="?page=@pageNumber@query" aria-label="Page @pageNumber">@pageNumber</a></li>
                }
            }

            @if (Model.PageNumber < Model.PageCount)
            {
                <li class="pagination__item"><a class="pagination__link" href="?page=@Model.NextPageNumber@query" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&rsaquo;</span></a></li>
                <li class="pagination__item"><a class="pagination__link" href="?page=@Model.PageCount@query" aria-label="Last page">Last <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
            }
        </ul>
    </nav>
}
