﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div>
    <h1 class="govuk-heading-xl">Sorry, an error occurred while processing your request</h1>
</div>
<div class="govuk-details">
    <p>
        If this issue persists please contact the RTFO Unit. <br />
        @if (Model.ShowRequestId)
        {
            <strong>Please quote Request ID: <code>@Model.RequestId</code></strong>
        }
    </p>
    <ul>
        <li>Email: @Model.RtfoSupportEmailAddress</li>
         @if (!string.IsNullOrWhiteSpace(Model.RtfoSupportTelephoneNumber))
         {
            <li>Telephone: @Model.RtfoSupportTelephoneNumber</li>
         }
    </ul>
</div>
