﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model FeedbackViewModel
@{
    ViewData["Title"] = "Feedback";
}

<div>
    <h1 class="govuk-heading-xl">Feedback</h1>
</div>
<div class="govuk-body">

    <p>If you have any feedback on this service, please contact the RTFO team using the following: </p>
    <p>Email: @Model.RtfoSupportEmailAddress</p>
    @if (!string.IsNullOrWhiteSpace(Model.RtfoSupportTelephoneNumber))
    {
        <p>Or</p>
        <p>Telephone: @Model.RtfoSupportTelephoneNumber</p>
    }

    <p><br /><a class="govuk-button" role="button" href="@(Model.IsAuthenticated ? "/Home" : "/Account/SignIn")">Back</a></p>
</div>
