﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.SuppliersViewModels.SupplierReportingSummaryViewModel
@{
    ViewData["Title"] = $"Home - {Model.ObligationPeriod.GetDescription()} - {Model.SupplierName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.DisplaySupplierContext)
{
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">

            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">@Model.SupplierName</li>
        </ol>
    </div>
}

<h1 class="govuk-heading-l">@Model.SupplierName</h1>

<div class="govuk-inset-text">
    @if (Model.ObligationPeriod == null)
    {
        @: No obligation period has been selected
    }
    else
    {
        @:Details for the obligation period ending <br />
        <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
    }
    
    <br /><br /><a class="govuk-link" href="/obligationperiods/@Model.ObligationPeriod.Id/select/organisations/@Model.SupplierId">Choose to view another obligation period</a>
</div>

@if (Model.BalanceSummary != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Obligation period at a glance...</h2>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">&nbsp;</th>
                        <th class="govuk-table__header rightAlign" scope="col">Credit<br /><span class="fuelUnit">(KgCO<sub>2</sub>e)</span></th>
                        <th class="govuk-table__header rightAlign" scope="col">Obligation<br /><span class="fuelUnit">(KgCO<sub>2</sub>e)</span></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="/Suppliers/@Model.SupplierId/obligationperiod/@Model.ObligationPeriod.Id/submissions">Submissions</a>
                            <a href="/suppliers/@Model.SupplierId/obligationperiod/@Model.ObligationPeriod.Id/GenerateExportForOrganisation" aria-label="Download CSV"><img class="rtfo-download" src="/assets/images/icon-csv.png" alt="Download CSV Icon"></a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@Model.BalanceSummary.SubmissionsCredits.ToString("#,##0.00")</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@Model.BalanceSummary.SubmissionsObligation.ToString("#,##0.00")</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="/Suppliers/@Model.SupplierId/obligationperiod/@Model.ObligationPeriod.Id/trading">Trading</a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@Model.BalanceSummary.TradingCredits.ToString("#,##0.00")</td>
                        <td class="govuk-table__cell"></td>
                    </tr>
                    <tr class="govuk-table__row totalRow">
                        <td class="govuk-table__cell govuk-!-font-weight-bold">Balance</td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">@Model.BalanceSummary.BalanceCredits.ToString("#,##0.00")</td>
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">@Model.BalanceSummary.BalanceObligation.ToString("#,##0.00")</td>
                    </tr>
                    @if (Model.BalanceSummary.NetPosition < 0)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Net obligation</td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">@((Model.BalanceSummary.NetPosition * -1).ToString("#,##0.00"))</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Buyout cost <br /><span class="govuk-hint">£@Model.BalanceSummary.BuyOutPer_tCO2e.ToString("#,##0.00") per tCO<sub>2</sub>e</span></td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£@Model.BalanceSummary.BuyoutCost.ToString("#,##0.00")</td>
                        </tr>
                    }
                    else
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Net credits</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">@Model.BalanceSummary.NetPosition.ToString("#,##0.00")</td>
                            <td class="govuk-table__cell"></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
}

<h2 class="govuk-heading-m">What would you like to do next?</h2>

<ul class="govuk-list govuk-list--bullet">
    @if (Model.ObligationPeriod != null)
    {
        <li><a class="govuk-link" href="/Suppliers/@Model.SupplierId/ObligationPeriods/@Model.ObligationPeriod.Id/Applications/New">Submit electricity, fuel or UERs application</a></li>
    }
    <li><a class="govuk-link govuk-!-font-weight-bold" href="/Suppliers/@Model.SupplierId/ObligationPeriods/@Model.ObligationPeriod.Id/FurtherActions">More</a></li>
</ul>