﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.TraderViewModels;
@model TraderSummaryViewModel
@{
    ViewData["Title"] = $"Home - {Model.ObligationPeriod.GetDescription()} - {Model.SupplierName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (Model.DisplaySupplierContext)
{
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">

            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">@Model.SupplierName</li>
        </ol>
    </div>
}
<h1 class="govuk-heading-l">@Model.SupplierName</h1>
<div class="govuk-inset-text">
    @if (Model.ObligationPeriod == null)
    {
        @: No obligation period has been selected
    }
    else
    {
        @:Details for the obligation period ending <br />
        <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
    }
    <br /><br /><a class="govuk-link" href="/obligationperiods/@Model.ObligationPeriod.Id/select/organisations/@Model.SupplierId">Choose to view another obligation period</a>
</div>
@if (Model.BalanceSummary != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Current status</h2>
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a class="govuk-link" href="/trader/@Model.SupplierId/obligationperiod/@Model.ObligationPeriod.Id/trading">GHG credits</a></td>
                        <td class="govuk-table__cell">@Model.BalanceSummary.TradingCredits.ToString("#,##0.00")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
    <h2 class="govuk-heading-m">What would you like to do next?</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-list-item" href="/Marketplace?ObligationPeriodId=@Model.ObligationPeriod.Id&OrganisationId=@Model.SupplierId">View credits to buy or sell on the GHG marketplace</a></li>
        <li><a class="govuk-list-item" href="/trader/@Model.SupplierId/obligationPeriod/@Model.ObligationPeriod.Id/Marketplace/Advertise">List credits to buy or sell on the GHG marketplace</a></li>
        <li><a class="govuk-list-item" href="/transfer/@Model.SupplierId/obligationPeriod/@Model.ObligationPeriod.Id">Transfer credits to another organisation</a></li>
        <li><a class="govuk-link govuk-!-font-weight-bold" href="/Trader/@Model.SupplierId/ObligationPeriods/@Model.ObligationPeriod.Id/FurtherActions">More</a></li>
    </ul>
