﻿/* Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. */

/* Element Styles */
/* -------------- */

/* Hides an element if javascript is disabled (note this is shown with javascript) */
.hide-no-javascript {
    visibility: hidden;
}

.buttonAsAnchor {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
}

.fuelUnit {
    white-space: nowrap;
    font-weight: 400;
    font-size: 19px;
    font-family: nta,Arial,sans-serif;
}

.totalRow {
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-weight: 700;
}

.rightAlign {
    text-align: right;
}

.breakWord {
    word-break: break-word;
}

.list--lower-roman {
    padding-left: 20px;
    list-style-type: lower-roman;
}

/* End Element Styles */

/* Header styles */

.header__navigation-button {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #1d8feb;
    font-family: nta,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.header__navigation-link {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #fff;
    font-family: nta,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.header__navigation-link:active,
.header__navigation-link:focus {
    text-decoration: underline;
}

.header__navigation-button:active,
.header__navigation-button:focus {
    color: #1d8feb;
    background-color: #ffbf47 !important;
}

.govuk-label--light-blue {
    color: #5694ca;
}
/* End Header styles */
/* Error Messages */
.govuk-error-summary.validation-summary-valid {
    display: none;
}

.govuk-panel--error {
    color: #fff;
    background: red
}

/* End Error Messages */

/* Cookie Warning Message */

#global-cookie-message {
    background-color: #d5e8f3;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

#global-cookie-message p {
    margin: 0 auto auto;
    max-width: 960px;
}

/* End Cookie Warning Message */

/* Pagination */

.pagination .pagination__item li {
    display: inline-block;
}

    .pagination .pagination__item li a {
        /*//@include bold-19;
    @extend .bold-small;.bold-small			{ @extend .govuk-body; @include govuk-font(16) }*/
        font-size: 16px;
        line-height: 20px; 
        color: #005ea5; /*$govuk-blue*/
        display: inline-block;
        padding: 15px 5px 10px 5px;
        margin-right: 15px;
        text-decoration: none;
    }

.pagination .pagination__item li a:focus {
    outline: 0;
}

.pagination .pagination__item li.active a,
.pagination .pagination__item li.active a:hover {
    color: #005ea5; /*$govuk-blue*/
    -webkit-box-shadow: inset 0px -5px 0px 0px #005ea5; /*$govuk-blue*/
    -moz-box-shadow: inset 0px -5px 0px 0px #005ea5; /*$govuk-blue*/
    box-shadow: inset 0px -5px 0px 0px #005ea5; /*$govuk-blue*/
}

.pagination {
    padding: 0;
    font-family: "Inter UI", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.pagination__item {
    display: inline-block;
    list-style: none;
}

.pagination__link {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #f8f8f8; /*$border-colour*/
}

.pagination__link:hover,
.pagination__link:focus {
    background: #f8f8f8; /*$highlight-colour*/
    outline: 3px solid #ffbf47; /*$focus-colour*/
}

.pagination__link.current {
    color: #0b0c0c; /*$text-colour*/
    font-weight: 700;
    border: none;
    pointer-events: none;
    cursor: default;
}

.pagination__link.current:hover,
.pagination__link.current:focus {
    color: #0b0c0c; /*$text-colour*/
    background: none;
}

.pagination__summary {
    font-family: "Inter UI", sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 8px 0;
}

@media (min-width: 642px) {
    .pagination__summary {
        float: right;
    }
}
/* End Pagination */
/* Task list*/
.app-task-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 40.0625em) {
    .app-task-list {
        min-width: 550px;
    }
}

.app-task-list__section {
    display: table;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
}

@media print {
    .app-task-list__section {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .app-task-list__section {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 1.25;
    }
}

@media print {
    .app-task-list__section {
        font-size: 18pt;
        line-height: 1.15;
    }
}

.app-task-list__section-number {
    display: table-cell;
}

@media (min-width: 40.0625em) {
    .app-task-list__section-number {
        min-width: 30px;
        padding-right: 0;
    }
}

.app-task-list__items {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 40px;
    list-style: none;
    padding-left: 0;
}

@media print {
    .app-task-list__items {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .app-task-list__items {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}

@media print {
    .app-task-list__items {
        font-size: 14pt;
        line-height: 1.15;
    }
}

@media (min-width: 40.0625em) {
    .app-task-list__items {
        margin-bottom: 60px;
    }
}

@media (min-width: 40.0625em) {
    .app-task-list__items {
        padding-left: 30px;
    }
}

.app-task-list__item {
    border-bottom: 1px solid #bfc1c3;
    margin-bottom: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .app-task-list__item:after {
        content: "";
        display: block;
        clear: both;
    }

    .app-task-list__item:first-child {
        border-top: 1px solid #bfc1c3;
    }

.app-task-list__task-name {
    display: block;
}

@media (min-width: 28.125em) {
    .app-task-list__task-name {
        float: left;
        width: 75%;
    }
}

.app-task-list__task-completed {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color:green;
}
.app-task-list__task-rejected {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: red;
}

@media (min-width: 28.125em) {
    .app-task-list__task-completed {
        float: right;
        margin-top: 0;
        margin-bottom: 0;
    }
    .app-task-list__task-rejected {
        float: right;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.app-rejected {
    background-color: red;
}
/* End Task list*/

/* Loader (Spinner) */
.govuk-loader {
    display: block;
    margin: 0 auto;
}
/* End Loader (Spinner) */
.file-upload-list {
    border: 1px dashed #005ea5;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
}

.show-all {
    display: none;
}

.show-all-checkbox-label {
    float: right;
}
.rtfo-table-show-all:checked ~ * .rtfo *.show-all {
    display: table-cell;
}
.rtfo-table-show-all:checked ~ *.rtfo-adminconsignment-details {
    border: 1px solid #bfc1c3;
}
.rtfo-summary-table th.govuk-table__header,
.rtfo-summary-table td.govuk-table__cell {
    border-bottom: 2px solid #000000;
}
.rtfo-summary-table td.govuk-table__cell {
    font-size: 19px;
    font-weight:bold;
}
.rtfo-table-show-all {
    float: right;
    margin-top:15px;
}
.rtfo-adminconsignment-details {
    overflow-x: auto;
}
.rtfo th.govuk-table__header{
    vertical-align:bottom;
}
.obligated-status-icon {
    text-align: center;
}

img.rtfo-download {
    vertical-align: middle;
}

