﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.GhgBalanceOrchestrator.API.Client.Models
@model CollectionAdministration

@if (Model == null)
{
    <p class="govuk-body">Unable to retrieve the current status of the GHG update.  Please try again later.</p>
}
else
{
    @switch (Model.Status)
    {
        case CollectionAdministrationStatus.InProgress:

            <p class="govuk-body">The balances for all suppliers in all GHG obligations will be updated. This operation may take a number of minutes to complete.</p>

            <img class="govuk-loader" src="~/assets/images/ajax-loader.gif" id="AjaxLoader" alt="Update in progress" />

            <noscript>
                <style type="text/css">
                    #AjaxLoader {
                        display: none;
                    }
                </style>
            </noscript>

            break;

        case CollectionAdministrationStatus.Failed:

            <div class="govuk-panel govuk-panel--error">
                <h2 class="govuk-panel__title">
                    GHG balance recalculation has failed
                </h2>
                <div class="govuk-panel__body">
                    The system was unable to update balances for all suppliers in all GHG obligations. Please contact the system administrator.
                    <br />
                </div>
            </div>

            break;

        case CollectionAdministrationStatus.Succeeded:

            <div class="govuk-panel govuk-panel--confirmation">
                <h2 class="govuk-panel__title">
                    GHG balance recalculation has succeeded
                </h2>
                <div class="govuk-panel__body">
                    The balances for all suppliers in all GHG obligations have been updated.
                    <br />
                </div>
            </div>

            break;
    }
}
