﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.AdministratorViewModels.DownloadAllPerformanceDataViewModel
@{
    ViewData["Title"] = "Download performance data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@ViewBag.selectedObligationPeriodId">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Download all performance data</li>
    </ol>
</div>

<h1 class="govuk-heading-l">Download all performance data</h1>

<p class="govuk-body">Selecting the Download button will produce a CSV file, containing all performance data.</p>

<a class="govuk-button" role="button" href="/SystemAdministration/GeneratePerformanceDataDownload">Download</a>
