﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@

@{
    ViewData["Title"] = "Administer GHG balances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@ViewBag.selectedObligationPeriodId">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">GHG balance administration</li>
    </ol>
</div>
<h1 class="govuk-heading-l">GHG balance administration</h1>

<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Selecting the Update GHG balances button will recalculate all balances for all suppliers across all GHG obligation periods.
    </strong>
</div>

@await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)

@using (Html.BeginForm("UpdateGhgBalances", "SystemAdministration", new { selectedObligationPeriodId = ViewBag.selectedObligationPeriodId }, FormMethod.Post))
{
    <button type="submit" class="govuk-button">Update GHG balances</button>
}

