﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.GhgBalanceOrchestrator.API.Client.Models
@model CollectionAdministration

@{
    ViewData["Title"] = "Update GHG balances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@ViewBag.selectedObligationPeriodId">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">GHG balance administration</li>
    </ol>
</div>
<h1 class="govuk-heading-l">GHG balance administration</h1>

<div id="updateGhgBalanceResult">
    @await Html.PartialAsync("_UpdateGhgBalanceConfirmationPartial", Model)
</div>

@if (Model != null)
{
    <noscript>
        <div class="govuk-body">
            Please <a class="govuk-link" href="/SystemAdministration/UpdateGhgBalances/@Model.Id">refresh this page</a> to check the current status of the GHG Balance Update.
        </div>
    </noscript>
}

<input type="hidden" id="UpdateGhgBalanceConfirmationRefreshIntervalInSeconds" value="@ViewBag.UpdateGhgBalanceConfirmationRefreshIntervalInSeconds" />
@Html.HiddenFor(m=>m.Id, new { id = "BulkUpdateUniqueId" })

@section Scripts {
    <script type="text/javascript" src="~/js/Views/SystemAdministration/updateGhgBalanceConfirmation.js"></script>
}
