﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.MarketplaceViewModels.NamedMarketplaceAdvert
    <li class="govuk-list-item">
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    @Model.OrganisationName
                </span>
            </summary>
            <div class="govuk-details__text">
                @if (!string.IsNullOrEmpty(Model.FullName) || !string.IsNullOrEmpty(Model.EmailAddress) || !string.IsNullOrEmpty(Model.PhoneNumber))
                {
                    <label class="govuk-heading-s">Contact Details</label>
                    @if (!string.IsNullOrEmpty(Model.FullName))
                    {
                        <label for="contact-name">Name:</label>
                        <span id="contact-name">@Model.FullName</span><br />
                    }
                    @if (!string.IsNullOrEmpty(Model.EmailAddress))
                    {
                        <label for="contact-email">E-mail:</label>
                        <span id="contact-email"><a href="mailto:@Model.EmailAddress">@Model.EmailAddress</a></span><br />
                    }
                    @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                    {
                        <label for="contact-phone">Phone Number:</label>
                        <span id="contact-phone"><a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a></span>
                    }
                }
                else
                {
                    <span>No contact details provided</span>
                }
            </div>
        </details>
    </li>
