﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Website.Models.MarketplaceViewModels;
@model MarketplaceAdvertViewModel
@{
    ViewData["Title"] = $"List credits - {Model.ObligationPeriodEndDate.Value.ToString("dd/MM/yyyy")} - {Model.OrganisationName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriodId">Home</a>
        </li>
        @if (Model.IsAdministrator)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                @if (Model.IsSupplier)
                {
                    <a class="govuk-breadcrumbs__link" href="/suppliers/@Model.OrganisationId/obligationperiod/@Model.ObligationPeriodId">@Model.OrganisationName</a>
                }
                @if (Model.IsTrader)
                {
                    <a class="govuk-breadcrumbs__link" href="/trader/@Model.OrganisationId/obligationperiod/@Model.ObligationPeriodId">@Model.OrganisationName</a>
                }
            </li>
        }
        <li class="govuk-breadcrumbs__list-item">List credits to buy or sell</li>
    </ol>
</div>
<h1 class="govuk-heading-l">List credits to buy or sell</h1>

<div class="govuk-inset-text">
    List credits for the obligation period ending <br />
    <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriodEndDate.Value.ToString("dd/MM/yyyy")</span>
</div>
@await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)
<div class="govuk-body">
    <p>
        You currently have @Model.Credits.ToString("#,##0.00") credits available to transfer. You can view organisations that have indicated they wish to buy or sell credits on the
        <a asp-controller="marketplace" asp-action="Marketplace" asp-route-obligationPeriodId="@Model.ObligationPeriodId" asp-route-organisationId="@Model.OrganisationId">GHG marketplace</a>
    </p>
</div>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.HiddenFor(m => m.ObligationPeriodEndDate)
    @Html.HiddenFor(m => m.Credits)
    <div class="govuk-form-group">
        <h2 class="app-task-list__section">
            Are you interested in selling credits to other organisations?
        </h2>
        <div class="govuk-radios govuk-radios--inline" data-module="radios">
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.SellCredits, true, new { @class = "govuk-radios__input", @id = "sell-credits-yes", @name = "sell-credits", @aria_labelledby = "sell-credits-instruction sell-credits-yes-label" })

                <label id="sell-credits-yes-label" class="govuk-label govuk-radios__label" for="sell-credits-yes">
                    Yes
                </label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.SellCredits, false, new { @class = "govuk-radios__input", @id = "sell-credits-no", @name = "sell-credits", @aria_labelledby = "sell-credits-instruction sell-credits-no-label" })

                <label id="sell-credits-no-label" class="govuk-label govuk-radios__label" for="sell-credits-no">
                    No
                </label>
            </div>
        </div>
        <br />
        <h2 class="app-task-list__section">
            Are you interested in buying credits from other organisations?
        </h2>
        <div class="govuk-radios govuk-radios--inline" data-module="radios">
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.BuyCredits, true, new { @class = "govuk-radios__input", @id = "buy-credits-yes", @name = "buy-credits", @aria_labelledby = "buy-credits-instruction buy-credits-yes-label" })

                <label id="buy-credits-yes-label" class="govuk-label govuk-radios__label" for="buy-credits-yes">
                    Yes
                </label>
            </div>
            <div class="govuk-radios__item">
                @Html.RadioButtonFor(m => m.BuyCredits, false, new { @class = "govuk-radios__input", @id = "buy-credits-no", @name = "buy-credits", @aria_labelledby = "buy-credits-instruction buy-credits-no-label" })

                <label id="buy-credits-no-label" class="govuk-label govuk-radios__label" for="buy-credits-no">
                    No
                </label>
            </div>
        </div>
        <div id="conditional-contact-details">
            <br />
            <h2 class="app-task-list__section">
                How should other organisations contact you?
            </h2>
            <div class="govuk-body">
                <p>
                    Please provide the contact details you wish other organisations to use to contact you. Other organisations will be able to see these details on the
                    <a asp-controller="marketplace" asp-action="Marketplace" asp-route-obligationPeriodId="@Model.ObligationPeriodId" asp-route-organisationId="@Model.OrganisationId">GHG marketplace</a>
                </p>
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="contact-details-full-name">Full name (optional)</label>
                @Html.TextBoxFor(m => m.FullName, new { @class = "govuk-input govuk-!-width-one-third", @id = "contact-details-full-name", @name = "contact-details-full-name" })
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="contact-details-email">Email address (optional)</label>
                <span asp-validation-for="EmailAddress" class="govuk-error-message"></span>
                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "govuk-input govuk-!-width-one-third", @id = "contact-details-email", @name = "contact-details-email" })
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="contact-details-phone-number">Phone number (optional)</label>
                <span class="govuk-hint">For international numbers, include the country code</span>
                <span asp-validation-for="PhoneNumber" class="govuk-error-message"></span>
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "govuk-input govuk-!-width-one-third", @id = "contact-details-phone-number", @name = "contact-details-phone-number" })
            </div>
        </div>
        <br />
        <button type="submit" class="govuk-button">
            Submit to marketplace
        </button>
    </div>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript" src="~/js/Views/Marketplace/contact-details.js"></script>
}
