﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.MarketplaceViewModels.MarketplaceAdvertsViewModel
@{
    ViewData["Title"] = $"GHG credits marketplace - {Model.ObligationPeriod.GetDescription()}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        @if (Model.DisplaySupplierContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                <a class="govuk-breadcrumbs__link" href="/suppliers/@Model.OrganisationId/obligationperiod/@Model.ObligationPeriod.Id">@Model.OrganisationName</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">GHG Credits Marketplace</li>
    </ol>
</div>

<h1 class="govuk-heading-l">GHG Credits Marketplace</h1>

@if (Model.MarketplaceAvailable)
{
    <div class="govuk-inset-text">
        GHG Credits Marketplace for the obligation period ending <br /> 
        <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</span>
</div>


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Looking to buy credits</h2>

            @if (Model.OrganisationsLookingToBuy.Count > 0)
            {
                <p class="govuk-body">The following companies have indicated that they are looking to buy credits</p>
                <ul class="govuk-list">
                    @foreach (var organisation in Model.OrganisationsLookingToBuy)
                    {
                        @await Html.PartialAsync("_details", organisation);
                    }
                </ul>
            }
            else
            {
                <p class="govuk-body">No organisations have indicated that they are looking to buy credits in this obligation period</p>
            }
        </div>
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Looking to sell credits</h2>

            @if (Model.OrganisationsLookingToSell.Count > 0)
            {
                <p class="govuk-body">The following companies have indicated that they are looking to sell credits</p>
                <ul class="govuk-list">
                    @foreach (var organisation in Model.OrganisationsLookingToSell)
                    {
                        @await Html.PartialAsync("_details", organisation);
                    }
                </ul>
            }
            else
            {
                <p class="govuk-body">No organisations have indicated that they are looking to sell credits in this obligation period</p>
            }
        </div>
    </div>
}
else
{
    <p class="govuk-error-message">The GHG Marketplace is currently unavailable</p>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-5">
        <h2 class="govuk-heading-m">What would you like to do next?</h2>
        <ul class="govuk-list govuk-list--bullet">
            @if (@Model.OrganisationId.HasValue && Model.MarketplaceAvailable)
            {
                <li class="govuk-list-item"><a class="govuk-list-item" href="/suppliers/@Model.OrganisationId.Value/obligationPeriod/@Model.ObligationPeriod.Id/Marketplace/Advertise">List credits to buy or sell on the GHG marketplace</a></li>
            }
            <li class="govuk-list-item"><a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Return to my home page</a></li>
        </ul>
    </div>
</div>

