﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.AdministratorViewModels.DownloadAllApplicationsViewModel
@{
    ViewData["Title"] = $"Download applications - {Model.ObligationPeriod.GetDescription()}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Download all application data</li>
    </ol>
</div>

<h1 class="govuk-heading-l">Download all application data</h1>
<div class="govuk-inset-text">
    @if (Model.ObligationPeriod == null)
    {
        @: No obligation period has been selected
    }
    else
    {
        @:This download is for the obligation period ending <br />
        <span class="govuk-label--xl govuk-label--light-blue">
            @Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")
        </span>
    }
</div>

<p class="govuk-body">Selecting the Download button will produce a CSV file, containing all applications made by all organisations for the selected GHG obligation period.</p>

<a class="govuk-button" role="button" href="/suppliers/obligationperiod/@Model.ObligationPeriod.Id/GenerateExportForAllOrganisations">Download</a>
