﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.SuppliersViewModels.SupplierElectricitySubmissionsViewModel
@{
    ViewData["Title"] = $"Electricity submissions - {Model.ObligationPeriod.GetDescription()} - {Model.SupplierName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        @if (Model.DisplaySupplierContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                <a class="govuk-breadcrumbs__link" href="/suppliers/@Model.SupplierId/obligationperiod/@Model.ObligationPeriod.Id">@Model.SupplierName</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" href="/Suppliers/@Model.SupplierId/obligationperiod/@Model.ObligationPeriod.Id/submissions">Submissions</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Electricity</li>
    </ol>
</div>
<h1 class="govuk-heading-l">How your current balance has been calculated</h1>
<h2 class="govuk-heading-m">Electricity submissions</h2>
<div class="govuk-inset-text">
    @if (Model.ObligationPeriod == null)
    {
        @: No obligation period has been selected
    }
    else
    {
        @:This calculation relates to the obligation period ending <br />
        <span class="govuk-label--xl govuk-label--light-blue">
            @Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")
        </span>
    }
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table rtfo-summary-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Total amount supplied<br /><span class="fuelUnit">(MJ)</span></th>
                    <th class="govuk-table__header" scope="col">Credit<br /><span class="fuelUnit">(KgCO<sub>2</sub>e)</span></th>
                    <th class="govuk-table__header" scope="col">Obligation<br /><span class="fuelUnit">(KgCO<sub>2</sub>e)</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@Model.SubmissionBalanceSummary.ElectricitySubmissions.TotalAmountSupplied.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell">@Model.SubmissionBalanceSummary.ElectricitySubmissions.TotalCredits.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell">@Model.SubmissionBalanceSummary.ElectricitySubmissions.TotalObligation.ToString("#,##0.00")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="govuk-grid-row show-all-checkbox-container">
    <input id="rtfo-admin-consignment-show-all-columns" class="rtfo-table-show-all" type="checkbox" />
    <label class="govuk-label govuk-checkboxes__label show-all-checkbox-label" for="rtfo-admin-consignment-show-all-columns">
        show all columns
    </label>
    <div class="govuk-grid-column-full rtfo-adminconsignment-details">
        <table class="govuk-table rtfo">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Date</th>
                    <th class="govuk-table__header">Reference</th>
                    <th class="govuk-table__header rightAlign" scope="col">Amount supplied<br /><span class="fuelUnit">(MJ)</span></th>
                    <th class="govuk-table__header rightAlign show-all" data-col="show-all" scope="col">GHG intensity<br /><span class="fuelUnit">(gCO<sub>2</sub>e)/MJ</span></th>

                    <th class="govuk-table__header rightAlign show-all" scope="col">Difference to Target<br /><span class="fuelUnit">(gCO<sub>2</sub>e)/MJ</span></th>
                    <th class="govuk-table__header rightAlign" scope="col">Credit<br /><span class="fuelUnit">(KgCO<sub>2</sub>e)</span></th>
                    <th class="govuk-table__header rightAlign" scope="col">Obligation<br /><span class="fuelUnit">(KgCO<sub>2</sub>e)</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var electricitySubmissions in Model.ElectricitySubmissions.Result)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@electricitySubmissions.Date.ToString("dd/MM/yyyy")</td>
                        <td class="govuk-table__cell">@electricitySubmissions.Reference</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@electricitySubmissions.AmountSupplied.ToString("#,##0.00")</td>
                        @if (electricitySubmissions.GhgIntensity == null)
                        {
                            <td class="govuk-table__cell govuk-table__cell--numeric show-all" data-col="show-all"></td>
                        }
                        else
                        {
                            <td class="govuk-table__cell govuk-table__cell--numeric show-all" data-col="show-all">@electricitySubmissions.GhgIntensity.Value.ToString("#,##0.00")</td>
                        }
                        <td class="govuk-table__cell govuk-table__cell--numeric show-all">@electricitySubmissions.DifferenceToTarget.ToString("#,##0.00")</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@electricitySubmissions.Credits.ToString("#,##0.00")</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@electricitySubmissions.Obligation.ToString("#,##0.00")</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.ElectricitySubmissions.Result.Count == 0)
        {
            <div class="col-md-4 govuk-label">No Electricity submissions to list</div>
        }
    </div>
</div>
<div class="govuk-grid-row">
    @await Html.PartialAsync("_PaginationPartial", Model.ElectricitySubmissions)
</div>
