﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.SuppliersViewModels.SupplierSubmissionLiquidGasSummaryViewModel
@{
    ViewData["Title"] = $"Liquid and gas submissions - {Model.ObligationPeriod.GetDescription()} - {Model.SupplierName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        @if (Model.DisplaySupplierContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                <a class="govuk-breadcrumbs__link" href="/suppliers/@Model.SupplierId/obligationperiod/@Model.ObligationPeriod.Id">@Model.SupplierName</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" href="/Suppliers/@Model.SupplierId/obligationperiod/@Model.ObligationPeriod.Id/submissions">Submissions</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Fuels</li>
    </ol>
</div>

<h1 class="govuk-heading-l">How your current balance has been calculated</h1>
<div class="govuk-inset-text">
    @if (Model.ObligationPeriod == null)
    {
        @: No obligation period has been selected
    }
    else
    {
        @:This calculation relates to the obligation period ending <br />
        <span class="govuk-label--xl govuk-label--light-blue">
            @Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")
        </span>
    }
</div>
<h2 class="govuk-heading-m">Liquid and gas submissions</h2>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Fuel</th>
                    <th class="govuk-table__header rightAlign" scope="col">Volume<br /><span class="fuelUnit">(units)</span></th>
                    <th class="govuk-table__header rightAlign" scope="col">Credit<br /><span class="fuelUnit">(KgCO<sub>2</sub>e)</span></th>
                    <th class="govuk-table__header rightAlign" scope="col">Obligation<br /><span class="fuelUnit">(KgCO<sub>2</sub>e)</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="/suppliers/@Model.SupplierId/obligationperiod/@Model.ObligationPeriod.Id/submissions/rtfoAdminconsignments">RTFO admin consignments</a></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@Model.LiquidGasBalanceSummary.RTFOAdminConsignmentsSubmissions.TotalVolumeOfFuelSupplied.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@Model.LiquidGasBalanceSummary.RTFOAdminConsignmentsSubmissions.TotalCredits.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@Model.LiquidGasBalanceSummary.RTFOAdminConsignmentsSubmissions.TotalObligation.ToString("#,##0.00")</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="/Suppliers/@Model.SupplierId/ObligationPeriod/@Model.ObligationPeriod.Id/Submissions/otherRtfoVolumes">Other volumes submitted via RTFO</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@Model.LiquidGasBalanceSummary.OtherVolumesSubmissions.TotalVolumeOfFuelSupplied.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@Model.LiquidGasBalanceSummary.OtherVolumesSubmissions.TotalCredits.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@Model.LiquidGasBalanceSummary.OtherVolumesSubmissions.TotalObligation.ToString("#,##0.00")</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="/suppliers/@Model.SupplierId/obligationperiod/@Model.ObligationPeriod.Id/submissions/fossilgas">Fossil gas</a></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@Model.LiquidGasBalanceSummary.FossilGasSubmissions.TotalVolumeOfFuelSupplied.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@Model.LiquidGasBalanceSummary.FossilGasSubmissions.TotalCredits.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@Model.LiquidGasBalanceSummary.FossilGasSubmissions.TotalObligation.ToString("#,##0.00")</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-font-weight-bold">Total volume of fuel <br /> <span class="govuk-hint">One unit equates to one litre of liquid fuel or one kilogram of gas fuel</span></td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">@Model.LiquidGasBalanceSummary.TotalVolumeOfFuelSupplied.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric"></td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-font-weight-bold">Volume of fuel above GHG target</td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">@Model.LiquidGasBalanceSummary.TotalVolumeAboveGHGTarget.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric"></td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-font-weight-bold">Low volume supplier deduction <br /> <span class="govuk-hint">This applies if the volume of fuel above the GHG target is less than 10,000,000 units and the total volume exceeds 450,000 units</span></td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric"></td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric"></td>
                    @if (Model.LiquidGasBalanceSummary.LowVolumeSupplierDeduction == 0)
                    {
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">0</td>
                    }
                    else
                    {
                        <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">@Model.LiquidGasBalanceSummary.LowVolumeSupplierDeduction.ToString("-#,##0.00")</td>
                    }
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-font-weight-bold">Balance</td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric"></td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">@Model.LiquidGasBalanceSummary.TotalCredits.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">@Model.LiquidGasBalanceSummary.TotalObligation.ToString("#,##0.00")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
