﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.SuppliersViewModels.SupplierSubmissionSummaryViewModel
@{
    ViewData["Title"] = $"Submissions - {Model.ObligationPeriod.GetDescription() } - {Model.SupplierName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        @if (Model.DisplaySupplierContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                <a class="govuk-breadcrumbs__link" href="/suppliers/@Model.SupplierId/obligationperiod/@Model.ObligationPeriod.Id">@Model.SupplierName</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Submissions</li>
    </ol>
</div>

<h1 class="govuk-heading-l">How your current balance has been calculated</h1>
<div class="govuk-inset-text">
    @if (Model.ObligationPeriod == null)
    {
        @: No obligation period has been selected
    }
    else
    {
        @:This calculation relates to the obligation period ending <br />
        <span class="govuk-label--xl govuk-label--light-blue">
            @Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")
        </span>
    }
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Energy type</th>
                    <th class="govuk-table__header rightAlign" scope="col">Credit<br /><span class="fuelUnit">(KgCO<sub>2</sub>e)</span></th>
                    <th class="govuk-table__header rightAlign" scope="col">Obligation<br /><span class="fuelUnit">(KgCO<sub>2</sub>e)</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="/Suppliers/@Model.SupplierId/ObligationPeriod/@Model.ObligationPeriod.Id/Submissions/LiquidGasSummary">Liquid and gas</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@Model.SubmissionBalanceSummary.LiquidGasSubmissions.TotalCredits.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@Model.SubmissionBalanceSummary.LiquidGasSubmissions.TotalObligation.ToString("#,##0.00")</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="/Suppliers/@Model.SupplierId/ObligationPeriod/@Model.ObligationPeriod.Id/Submissions/Electricity">Electricity</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@Model.SubmissionBalanceSummary.ElectricitySubmissions.TotalCredits.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@Model.SubmissionBalanceSummary.ElectricitySubmissions.TotalObligation.ToString("#,##0.00")</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="/Suppliers/@Model.SupplierId/ObligationPeriod/@Model.ObligationPeriod.Id/Submissions/UpstreamEmissionReductions">Upstream Emission Reductions (UERs)</a>
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@Model.SubmissionBalanceSummary.UpstreamEmissionsReductionSubmissions.TotalCredits.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">0.00</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-font-weight-bold">Balance</td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">@Model.SubmissionBalanceSummary.TotalCredits.ToString("#,##0.00")</td>
                    <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">@Model.SubmissionBalanceSummary.TotalObligation.ToString("#,##0.00")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
