﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.SuppliersViewModels.TradingSummaryViewModel
@{
    ViewData["Title"] = $"Trading credit events - {Model.ObligationPeriod.GetDescription()} - {Model.OrganisationName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        @if (Model.DisplayOrganisationContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                <a class="govuk-breadcrumbs__link" href="/suppliers/@Model.OrganisationId/obligationperiod/@Model.ObligationPeriod.Id">@Model.OrganisationName</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Trading credit events</li>
    </ol>
</div>

<h1 class="govuk-heading-l">Trading credit events</h1>

@if (Model.PagedTradingResult.TotalResults > 0)
{
    <div class="govuk-inset-text">
        @if (Model.ObligationPeriod == null)
        {
            @: No obligation period has been selected
        }
        else
        {
            @:These events relate to the obligation period ending <br />
            <span class="govuk-label--xl govuk-label--light-blue">
                @Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")
            </span>
        }
    </div>

    <div class="govuk-grid-row">
        <input id="rtfo-admin-consignment-show-all-columns" class="rtfo-table-show-all" type="checkbox" />
        <label class="govuk-label govuk-checkboxes__label show-all-checkbox-label" for="rtfo-admin-consignment-show-all-columns">
            show all columns
        </label>
        <div class="govuk-grid-column-full rtfo-adminconsignment-details">
            <table class="govuk-table rtfo">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Reference</th>
                        <th class="govuk-table__header">Date</th>
                        <th class="govuk-table__header">Event</th>
                        <th class="govuk-table__header">To / from</th>
                        <th class="govuk-table__header" scope="col">Credits</th>
                        <th class="govuk-table__header show-all">Additional Reference</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var creditEvent in Model.PagedTradingResult.Result)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@creditEvent.Reference</td>
                            <td class="govuk-table__cell">@creditEvent.Date.ToString("dd/MM/yyyy")</td>
                            <td class="govuk-table__cell">@creditEvent.EventType</td>
                            <td class="govuk-table__cell">@creditEvent.TradingOrganisation</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">@creditEvent.Credits.ToString("#,##0.00")</td>
                            <td class="govuk-table__cell show-all" data-col="show-all">@creditEvent.AdditionalReference</td>
                        </tr>
                    }
                </tbody>
            </table>

            @await Html.PartialAsync("_PaginationPartial", Model.PagedTradingResult)
        </div>
    </div>
}
else
{
    <p class="govuk-body">There are no credit events available for the obligation period ending @Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")</p>
}
