﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.SuppliersViewModels.SupplierUpstreamEmissionsReductionsSubmissionsViewModel
@{
    ViewData["Title"] = $"Upstream emission reductions (UERs) - {Model.ObligationPeriod.GetDescription()} - {Model.OrganisationName}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">

        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriod.Id">Home</a>
        </li>
        @if (Model.DisplayOrganisationContext)
        {
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                <a class="govuk-breadcrumbs__link" href="/suppliers/@Model.OrganisationId/obligationperiod/@Model.ObligationPeriod.Id">@Model.OrganisationName</a>
            </li>
        }
        <li class="govuk-breadcrumbs__list-item" aria-current="page">
            <a class="govuk-breadcrumbs__link" href="/Suppliers/@Model.OrganisationId/obligationperiod/@Model.ObligationPeriod.Id/submissions">Submissions</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Upstream Emission Reductions (UERs)</li>
    </ol>
</div>
<h1 class="govuk-heading-l">How your current balance has been calculated</h1>
<h2 class="govuk-heading-m">Upstream Emission Reductions (UERs) submissions</h2>
<div class="govuk-inset-text">
    @if (Model.ObligationPeriod == null)
    {
        @: No obligation period has been selected
    }
    else
    {
        @:This calculation relates to the obligation period ending <br />
        <span class="govuk-label--xl govuk-label--light-blue">
            @Model.ObligationPeriod.EndDate.Value.ToString("dd/MM/yyyy")
        </span>
    }
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table rtfo-summary-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Total amount<br /><span class="fuelUnit">(KgCO<sub>2</sub>e)</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@Model.TotalAmount.ToString("#,##0.00")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="govuk-grid-row show-all-checkbox-container">
    <div class="govuk-grid-column-full rtfo-adminconsignment-details">
        <table class="govuk-table rtfo">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Date</th>
                    <th class="govuk-table__header">Reference</th>
                    <th class="govuk-table__header">Internal Reference</th>
                    <th class="govuk-table__header rightAlign" scope="col">Amount<br /><span class="fuelUnit">(KgCO<sub>2</sub>e)</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var uerSubmissions in Model.PagedUpstreamEmissionsReductionsResult.Result)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@uerSubmissions.Date.ToString("dd/MM/yyyy")</td>
                        <td class="govuk-table__cell">@uerSubmissions.ApplicationId</td>
                        <td class="govuk-table__cell">@uerSubmissions.InternalReference</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@uerSubmissions.Amount.ToString("#,##0.00")</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.PagedUpstreamEmissionsReductionsResult.Result.Count == 0)
        {
            <div class="col-md-4 govuk-label">No Upstream Emission Reductions (UERs) submissions to list</div>
        }
    </div>
</div>
<div class="govuk-grid-row">
    @await Html.PartialAsync("_PaginationPartial", Model.PagedUpstreamEmissionsReductionsResult)
</div>
