﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@{
    ViewData["Title"] = "Forgotten password confirmation";
}

<h1 class="govuk-heading-xl">Forgotten password confirmation</h1>
<p class="govuk-body">
    An email has been sent to you with details on how to reset your password.
</p>

<p class="govuk-body">
    <a asp-action="SignIn">Continue to sign in</a>
</p>
