﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model ForgottenPasswordViewModel
@{
    ViewData["Title"] = "Forgotten password";
}

<h1 class="govuk-heading-xl">Forgotten Password</h1>

<form asp-action="ForgottenPassword" method="post">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="account hint" role="group">
            <legend class="govuk-fieldset__legend">
                Enter your email address to reset your password
            </legend>

            @await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)

            <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                    Email address
                </label>
                <span asp-validation-for="Email" class="govuk-error-message"></span>
                @Html.TextBoxFor(m => m.Email, new { @class = "govuk-input govuk-input--width-20", @name = "email", @id = "email" })
            </div>

            <br />

            <button type="submit" class="govuk-button">Submit</button>
        </fieldset>
    </div>
</form>

<h2 class="govuk-heading-l">Still unable to sign in?</h2>

<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Contact the RTFO unit
        </span>
    </summary>
    <div class="govuk-details__text">
        <p>
            If you are experiencing problems signing into your GHG account, please contact the RTFO compliance team using the following:
        </p>

        <ul>
            <li>Email: @Model.RtfoSupportEmailAddress</li>
            @if (!string.IsNullOrWhiteSpace(Model.RtfoSupportTelephoneNumber))
            {
                <li>Telephone: @Model.RtfoSupportTelephoneNumber</li>
            }
        </ul>
    </div>
</details>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
