﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.AccountViewModels.HowToRegisterViewModel

@{
    ViewData["Title"] = "How to register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="govuk-heading-l">How to register</h1>

<p class="govuk-body">
    If someone from your company has already created a user account and been linked to your company in the GHG system, they can invite you to join. Alternatively, please contact the RTFO compliance team using the following:

    <ul>
        <li class="govuk-body">Email: @Model.RtfoSupportEmailAddress</li>
        @if (!string.IsNullOrWhiteSpace(Model.RtfoSupportTelephoneNumber))
        {
            <li class="govuk-body">Telephone: @Model.RtfoSupportTelephoneNumber</li>
        }
    </ul>
</p>
