﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model AccountDetailsViewModel
@{
    ViewData["Title"] = "View user account details";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            @if (Model.ObligationPeriodId.HasValue)
            {
                <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriodId">Home</a>

            }
            else
            {
                <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home">Home</a>
            }
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">View User Account</li>
    </ol>
</div>

<h1 class="govuk-heading-l">@ViewData["Title"]</h1>

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="account hint" role="group">

        <div class="govuk-form-group">
            <span class="govuk-heading-s">
                Full name
            </span>
            <span class="govuk-body">@Model.FullName</span>
        </div>

        <div class="govuk-form-group">
            <span class="govuk-heading-s">
                Email address
            </span>
            <span class="govuk-hint">You will be able sign into the GHG system using this email address. We will also use this email address to send you GHG notifications</span>
            <span class="govuk-body">@Model.Email</span>
        </div>

        <div class="govuk-body">
            <p>
                If the details shown are incorrect, please contact the RTFO Unit.
            </p>
            <ul>
                <li>Email: @Model.RtfoSupportEmailAddress</li>
                @if (!string.IsNullOrWhiteSpace(Model.RtfoSupportTelephoneNumber))
                {
                    <li>Telephone: @Model.RtfoSupportTelephoneNumber</li>
                }
            </ul>
        </div>

    </fieldset>
</div>
