﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@{
    ViewData["Title"] = "Invitation expired";
}

<div>
    <h1 class="govuk-heading-xl">Invitation expired</h1>
</div>
<div>
    <p class="govuk-body">
        The invitation link has expired or was not found. Please request a new invitation.
    </p>
</div>
