﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model LockoutViewModel
@{
    ViewData["Title"] = "Locked out";
}

<h1 class="govuk-heading-xl">Account locked out</h1>
@if (Model.ShowConfiguration)
{
    <p class="govuk-body">This account has been locked out for a period of @Model.DefaultLockoutTimeSpan minutes as a result of @Model.MaxFailedAccessAttempts or more failed sign in attempts.</p>
}
else
{
    <p class="govuk-body">This account has been locked out for a period of time as a result of a number of failed sign in attempts.</p>
}
<p class="govuk-body">You can try to <a href="/Account/SignIn">sign in</a> again later.</p>
