﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model RegisterViewModel
@{
    ViewData["Title"] = "Register account";
}

    <h1 class="govuk-heading-xl">Register GHG user account</h1>

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="account hint" role="group">
            <legend class="govuk-fieldset__legend">
                Enter details for your GHG user account
                <span id="account hint" class="govuk-hint">You will be able to link your account with your existing company details, as setup in ROS, after creating a GHG account</span>
            </legend>

            @await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)
            <input type="hidden" asp-for="OrganisationId" />
            <input type="hidden" asp-for="Company" />
            <input type="hidden" asp-for="Role" />

            <div class="govuk-form-group">
                <label class="govuk-label" for="fullname">
                    Full name
                </label>
                <span asp-validation-for="FullName" class="govuk-error-message"></span>
                @Html.TextBoxFor(m => m.FullName, new { @class = "govuk-input govuk-input--width-20", @name = "fullname", @id = "fullname" })
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                    Email address
                </label>
                <span class="govuk-hint">You will be able sign into the GHG system using this email address. We will also use this email address to send you GHG notifications</span>
                <span asp-validation-for="Email" class="govuk-error-message"></span>
                @(Model.EmailDisabled == "disabled" ?
                                                                                    @Html.TextBoxFor(m => m.Email, new { @class = "govuk-input govuk-input--width-20", @name = "email", @id = "email", @readonly = "enabled" }) :
                                                                                    @Html.TextBoxFor(m => m.Email, new { @class = "govuk-input govuk-input--width-20", @name = "email", @id = "email" })
                )
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="password">
                    Password
                </label>
                <span asp-validation-for="Password" class="govuk-error-message"></span>
                @Html.PasswordFor(m => m.Password, new { @class = "govuk-input govuk-input--width-20 password", @name = "password", @id = "password" })
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="confirmPassword">
                    Confirm password
                </label>
                <span asp-validation-for="ConfirmPassword" class="govuk-error-message"></span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "govuk-input govuk-input--width-20 password", @name = "confirmPassword", @id = "confirmPassword" })
            </div>

            <br />

            <div class="govuk-grid-row">
                <p class="govuk-body">
                    By registering an account, you are agreeing to the terms and conditions set out in the @Html.ActionLink("privacy policy", "PrivacyPolicy", "Home").
                </p>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">
                    <button type="submit" class="govuk-button">Register</button>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <div class="govuk-checkboxes__item hide-no-javascript">
                        <input class="govuk-checkboxes__input password-obfuscator" id="password-obfuscator" name="show password" type="checkbox" value="show password">
                        <label class="govuk-label govuk-checkboxes__label label-inline" for="password-obfuscator">
                            Show password
                        </label>
                    </div>
                </div>
            </div>

        </fieldset>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
