﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h1 class="govuk-heading-xl">Reset password</h1>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="account hint" role="group">
            <legend class="govuk-fieldset__legend">
                Enter you email address and new password to reset your password
            </legend>
            @await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)
            <input asp-for="Code" type="hidden" />

            <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                    Email address
                </label>
                <span asp-validation-for="Email" class="govuk-error-message"></span>
                @Html.TextBoxFor(m => m.Email, new { @class = "govuk-input govuk-input--width-20", @name = "email", @id = "email" })
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="password">
                    Password
                </label>
                <span asp-validation-for="Password" class="govuk-error-message"></span>
                @Html.PasswordFor(m => m.Password, new { @class = "govuk-input govuk-input--width-20 password", @name = "password", @id = "password" })
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="confirmPassword">
                    Confirm password
                </label>
                <span asp-validation-for="ConfirmPassword" class="govuk-error-message"></span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "govuk-input govuk-input--width-20 password", @name = "confirmPassword", @id = "confirmPassword" })
            </div>
        </fieldset>
    </div>



    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <button type="submit" class="govuk-button">Reset password</button>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <div class="govuk-checkboxes__item hide-no-javascript">
                <input class="govuk-checkboxes__input password-obfuscator" id="password-obfuscator" name="show password" type="checkbox" value="show password">
                <label class="govuk-label govuk-checkboxes__label label-inline" for="password-obfuscator">
                    Show password
                </label>
            </div>
        </div>
    </div>

}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
