﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1 class="govuk-heading-xl">Reset password confirmation</h1>
<p class="govuk-body">
    Your password has been reset. Please <a asp-action="SignIn">continue to sign in</a>.
</p>
