﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@{
    ViewData["Title"] = "Reset password error";
}

<div>
    <h1 class="govuk-heading-xl">Reset password link expired</h1>
</div>
<div>
    <p class="govuk-body">
        The reset password link has expired or was not found. Please request a password reset again.
    </p>
</div>
