﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@{
    ViewData["Title"] = "Signed out";
}

<h1 class="govuk-heading-xl">Successfully signed out</h1>

<p class="govuk-body">You have successfully signed out of the Manage Motor Fuel Greenhouse Gas Emissions service. You can <a href="/Account/SignIn">sign in here</a>.</p>

<p class="govuk-body">Your feedback is important for us to continue to improve this service. <a href="/Feedback">Give feedback</a></p>

