﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@using DfT.GOS.Identity.API.Client.Models;
@model LoginViewModel
@inject SignInManager<GosApplicationUser> SignInManager

@{
    ViewData["Title"] = "Sign in";
}

<h1 class="govuk-heading-xl">Sign in</h1>

<p class="govuk-body">Enter credentials to sign in.</p>

<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" autocomplete="off">

                @await Html.PartialAsync("_ValidationSummary", ViewData.ModelState)

                <div class="govuk-form-group">
                    <label class="govuk-label" for="email">
                        Email address
                    </label>
                    <span asp-validation-for="Email" class="govuk-error-message"></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "govuk-input govuk-input--width-20", @name = "email", @id = "email" })
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="password">
                        Password
                    </label>
                    <span asp-validation-for="Password" class="govuk-error-message"></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "govuk-input govuk-input--width-20 password", @name = "password", @id = "password" })
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-quarter">
                        <button type="submit" class="govuk-button">
                            Sign in
                        </button>
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <div class="govuk-checkboxes__item hide-no-javascript">
                            <input class="govuk-checkboxes__input password-obfuscator" id="password-obfuscator" name="show password" type="checkbox" value="show password">
                            <label class="govuk-label govuk-checkboxes__label label-inline" for="password-obfuscator">
                                Show password
                            </label>
                        </div>
                    </div>
                </div>

                <h2 class="govuk-heading-l">Problems signing in</h2>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="/Account/HowToRegister">How to register for a GHG user account</a></li>
                    <li><a asp-action="ForgottenPassword">Forgotten password</a></li>
                    <li><a href="https://www.gov.uk/guidance/renewable-transport-fuels-obligation#how-do-i-register">Contact the RTFO Compliance Team in the Department for Transport to register your company</a></li>
                </ul>

            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
