﻿@* // Copyright (c) Crown Copyright (Department for Transport). Licensed under The MIT License (MIT).  See License file in the project root for license information. *@
@model DfT.GOS.Website.Models.OrganisationsViewModels.ViewOrganisationsViewModel

@{
    ViewData["Title"] = "Organisations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="home" asp-action="home" asp-route-obligationPeriodId="@Model.ObligationPeriodId">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Organisations</li>
    </ol>
</div>

<h1 class="govuk-heading-l">Organisations</h1>

<div class="govuk-inset-text">
    Details for the obligation period ending <br />
        <span class="govuk-label--xl govuk-label--light-blue">@Model.ObligationPeriodEndDate.ToString("dd/MM/yyyy")</span>
    <br /><br /><a class="govuk-link" href="/obligationperiods/@Model.ObligationPeriodId/select">Choose to view another obligation period</a>
</div>
<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    @Html.HiddenFor(m => m.ObligationPeriodId)

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <label for="searchtext" class="govuk-label">
                Search text
            </label>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            @Html.TextBoxFor(m => m.SearchText, new { @class = "govuk-input govuk-input--width-20", @type = "search", @name = "searchtext", @Id = "searchtext", @onsearch = "submit" })
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="govuk-checkboxes__item">
                @Html.CheckBoxFor(m => m.ApprovedOrganisationsOnly, new { @class = "govuk-checkboxes__input", @name = "approvedOrganisationsOnly", @id = "approvedOrganisationsOnly" })
                <label class="govuk-label govuk-checkboxes__label" for="approvedOrganisationsOnly">
                    Show approved organisations only
                </label>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row govuk-body govuk-!-margin-top-4">
        <div class="govuk-grid-column-one-half">
            <button type="submit" class="govuk-button">
                Search
            </button>
        </div>
        <div class="govuk-grid-column-one-half">
            <a asp-controller="Organisations" asp-action="GenerateExport" asp-route-obligationPeriodId="@Model.ObligationPeriodId" aria-label="Download CSV"><img class="rtfo-download govuk-!-margin-right-2" src="/assets/images/icon-csv.png" alt="Download CSV Icon">Download Full Summary</a>
        </div>
    </div>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Organisation</th>
                <th class="govuk-table__header" scope="col">Status</th>
                <th class="govuk-table__header" scope="col">Type</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">GHG credits available</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Obligation</th>
                <th class="govuk-table__header" scope="col">Obligated status</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var supplier in Model.Result.Result)
            {
                <tr class="govuk-table__row">
                    @if (supplier.IsSupplier)
                    {
                        <th class="govuk-table__header" scope="row"><a class="govuk-link" href="/Suppliers/@supplier.Id/obligationPeriod/@Model.ObligationPeriodId">@supplier.Name</a></th>
                    }
                    @if (supplier.IsTrader)
                    {
                        <th class="govuk-table__header" scope="row"><a class="govuk-link" href="/trader/@supplier.Id/obligationPeriod/@Model.ObligationPeriodId">@supplier.Name</a></th>
                    }
                    <td class="govuk-table__cell">@supplier.Status</td>
                    @if (supplier.IsSupplier)
                    {
                        <td class="govuk-table__cell">Supplier</td>
                    }
                    @if (supplier.IsTrader)
                    {
                        <td class="govuk-table__cell">Trader</td>
                    }
                    @if (@supplier.Obligation != null && @supplier.GhgCreditsAvailable != null)
                    {
                        <td class="govuk-table__cell govuk-table__cell--numeric">@supplier.GhgCreditsAvailable.Value.ToString("#,##0.00")</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@supplier.Obligation.Value.ToString("#,##0.00")</td>
                        @if (supplier.ObligatedStatus)
                        {
                            <td class="govuk-table__cell obligated-status-icon" aria-label="Meets obligation">
                                <svg height='25' width='25' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'>
                                    <path d='M159.8 439.1c74.8 53.3 146.8 110.5 215.7 171.3 0 0 348.4-399.4 557.1-477.1l27 53s-394.2 365-520.9 704.4L64.4 512l95.4-72.9z' fill='rgb(128,201,78)' />
                                </svg>
                            </td>
                        }
                        else
                        {
                            <td class="govuk-table__cell obligated-status-icon" aria-label="Does not meet obligation">
                                <svg height='25' width='25' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'>
                                    <path d='M835.943868 805.538336v176.11606H188.056132v-115.096739c75.389058-31.169141 157.6506-112.18114 157.6506-208.881838 0-19.923259 0-38.3193-2.84618-56.85418H203.536574V453.097959h113.847197a589.714596 589.714596 0 0 1-11.38472-115.235577C305.999051 160.357942 435.257271 42.345604 627.131449 42.345604c76.70802 0 134.881161 17.00766 166.258558 34.154159l-34.223578 163.412379c-28.461799-15.61928-68.238899-25.5462-120.71968-25.546201-100.935259 0-132.173819 63.93492-132.173818 133.49278 0 37.069758 5.831198 69.766118 14.300318 105.308657h194.650939v147.72368H539.038709c1.457799 34.154159-2.776761 68.16948-12.842519 100.86584a242.758321 242.758321 0 0 1-69.55786 100.865839v2.915599h379.305538z' fill='rgb(255,0,0)' />
                                </svg>
                            </td>
                        }
                    }
                    else
                    {
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                    }

                </tr>
            }
        </tbody>
    </table>
    @if (Model.Result.Result.Count == 0)
    {
        <div class="col-md-4 govuk-label">No suppliers to list</div>
    }
    @await Html.PartialAsync("_PaginationPartial", Model.Result)

</form>